@import '../base';
@import '../common';

// https://bennettfeely.com/clippy/
.card_1 {
  @extend .center;
  .card {
    @extend .center;
    width: 200px;
    height: 200px;
    position: relative;
   transform: rotate(45deg);

    span:nth-child(1) {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border-top: 50px solid transparent;
      border-right: 50px solid #20bc7d;
      border-left: 50px solid transparent;
      border-bottom: 50px solid #55ddb9;
    }

    span:nth-child(2) {
      position: absolute;
      top: 0;
      left: 50%;
      width: 0;
      height: 0;
      border-top: 50px solid #1fb67c;
      border-right: 50px solid #20bc7d;
      border-left: 50px solid #25c893;
      border-bottom: 50px solid #55ddb9;
    }

    span:nth-child(3) {
      position: absolute;
      top: 50%;
      left: 0;
      width: 0;
      height: 0;
      border-top: 50px solid #1fb67c;
      border-right: 50px solid #20bc7d;
      border-left: 50px solid #25c893;
      border-bottom: 50px solid #55ddb9;
    }

    span:nth-child(4) {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      border-top: 50px solid #1fb67c;
      border-right: 50px solid #20bc7d;
      border-left: 50px solid #25c893;
      border-bottom: 50px solid #55ddb9;
    }


  }
}

.card_2 {
  @extend .center;
  .card {
    @extend .center;
    width: 200px;
    height: 100px;
    position: relative;

    span:nth-child(1) {
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      border-top: 50px solid #eee;
      border-right: 50px solid #ddd;
      border-left: 50px solid #ccc;
      border-bottom: 50px solid #ccc;
    }
    span:nth-child(2) {
       position:absolute;
       top: 50%;
       left: 50%;
       width: 20px;
       height: 20px;
       background-color: red;
       transform: translate(-50%, -50%) rotate(45deg);


       &:before {
        content: "";
        position: absolute;
        top:0;
        left: 0;
        width: 20px;
        height: 20px;
        background-color: red;
        transform: translateY(-50%);
        border-radius: 50%;
      }

      &:after {
        content: "";
        position: absolute;
        top:0;
        left: 0;
        width: 20px;
        height: 20px;
        background-color: red;
        transform: translateX(-50%);
        border-radius: 50%;
      }

    }


  }
}

.card_3 {
  @extend .center;
  background-color: #1fb67c;
  .card {
    @extend .center;
    width: 100px;
    height: 100px;
    background-color: #34588e;
    border-radius: 50%;
    border: 5px solid $color-grey-dark-3;
    position:relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      background-color: white;
      top: -22px;
      left: -39px;
      width: 125px;
      height: 98px;
      border-radius: 36%;
      transform: rotate(-19deg);
    }


    &::after {
      content: "";
      position: absolute;
      background-color: red;
      top: -137px;
      left: -79px;
      width: 188px;
      height: 200px;
      border-radius: 50%;
       ;
    }
  }
}

.card_4 {
  @extend .center;
  .card {
    @extend .center;
    width: 205px;
    height: 155px;
    background-color: #d6d6d6;
    border-radius: 15px;
    box-shadow: 0 10px 15px -13px black;
    position: relative ;

    .lens {
      width: 125px;
      height: 125px;
      background-color: #f5f5f5;
      box-shadow: 0 7px 0 0 #c0c0c0;
      border-radius: 50%;
      @extend .center;
      .inner-lens {
        width: 105px;
        height: 105px;
        background-color: #00594c;
        border-radius: 50%;
        @extend .center;
        &-2 {
          border-top: 21px solid #00087B;
          border-right: 21px solid #4db6ac;
          border-bottom: 21px solid #80Cbc4;
          border-left: 21px solid #25a69a;
          border-radius: 50%;
        }
      }
    }

    .flash {
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: #f5f5f5;
      border-radius: 50%;
      box-shadow: 0 4px 0 0 #c0c0c0;
      right: 15px;
      top: 15px;


    }

    .button {
      position: absolute;
      width: 30px;
      height: 5px;
      background-color: #009587;
      border-radius: 60px;
      left: 16px;
      top: -5px;
    }
  }
}

.card_5 {
  @extend .center;
  // background-color: $color-background-5;
  animation: rolling  5s linear infinite;
  .card {
    @extend .center;
    width: 250px;
    height: 250px;
    position: relative;

    // border: 1px solid white;
    .arrow {
      position: absolute;
      border-top: 35px solid $color-background-5;
      border-left: 48px solid transparent;
      border-right: 48px solid transparent;
      border-bottom: 48px solid transparent;
      width: 0;
      height: 0;

    }

    .top {
    //  top: -38px;
      top: 98px;
      left: 82px;
    }
    .left {
      top: 82px;    // -54px;
      left: 60px;
      transform: rotate(72deg);
    }

    .right {
      top: 83px; // -52px;
      left: 103px;
      transform: rotate(-66deg);
    }
  }
}

.card_6 {
  @extend .center;
  background: #2DA4A8;
  .card {
    @extend .center;
    .coffee-mug {
      position: relative;
      width: 70px;
      height: 70px;
      background-color: #3f2616;
      border-radius: 50%;
      box-shadow:
        0px 0px 0px 10px #442918,
        0 0 0 25px #3c2415,
        0 0 0 42px #fe9407,
        0 0 0 65px #ffaa3a,
        0 120px 0 -25px #3c2415,
        100px 70px 0 -25px #3C2415,
        80px 140px 0 -10px #3C2415,
        30px 110px 0 -5px #3C2415,
        20px 150px 0 -5px #3C2415
        ;

      &::before {
        content:"";
        position: absolute;
        height: 75px;
        width: 50px;
        background-color: #e49534;
        top: -97px;
        right: -88px;
        border-radius: 5px;
        transform: rotate(45deg);
      }
    }
  }
}

.card_7 {
  @extend .center;
  .card {

    width: 110px;
    height: 110px;
    background-color: #5dc59d;
    border-radius: 50%;
    animation: rolling  5s linear infinite;
    .gear {
      width: 100%;
      height: 100%;

      .bar {
        width: 180px;
        height: 40px;
        background-color: #5dc59d;
        border-radius: 8px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .bar:nth-child(2) {
        transform:  translate(-50%, -50%)  rotate(60deg);
      }

      .bar:nth-child(3) {
        transform:  translate(-50%, -50%) rotate(-60deg);
      }

      .gear-inner {
        width: 55px;
        height: 55px;
        background-color: white;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(50%, 50%);
      }
    }

  }
}

@keyframes rolling {
  0% { transform: rotate(0deg);}
  100% {transform: rotate(360deg); }
}

.card_8 {
  @extend .center;
  .card {
    @extend .center;
    width: 200px;
    height: 200px;
    .git {
      width: 150px;
      height: 150px;
      background-color: #f05033;
      border-radius: 15px;
      position: relative;
      transform: rotate(45deg);
      .line1 {
        width: 110px;
        height: 12px;
        background-color: white;
        position: absolute;
        top: 40px;

        &::before {
          content: "";
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: white;
          position: absolute;
          top: -8px;
          left: 30px;
        }

        &::after {
          content: "";
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: white;
          position: absolute;
          top: -8px;
          left: 100px;
        }
      }
    }

    .line2 {
      width: 50px;
      height: 12px;
      background-color: white;
      position: absolute;
      top: 70px;
      left: 40px;
      transform: rotate(45deg);

      &::after {
        content: "";
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        top: -8px;
        left: 45px;
      }

    }


  }
}

.card_10 {
  @extend .center;
  .card {
    @extend .center;
    width: 200px;
    height: 200px;
    .square {
      width: 100%;
      height: 100%;
    }
  }

}

.card_9 {
  @extend .center;
  .card {
    @extend .center;
    width: 200px;
    height: 200px;
    .wrap {
      width: 150px;
      height: 150px;
      position: relative;

      .top {
        position: absolute;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border-top: 30px solid #E33E2B;
        border-right: 30px solid transparent;
        border-left: 30px solid #2BA14B;
        border-bottom: 30px solid #F1B500;
      }

      .half {
        width: 150px;
        height: 150px;
        position: absolute;
        border: 30px solid transparent;
        border-right: 30px solid #3a7cec;
        transform: rotate(45deg);
        border-radius: 50%;
        z-index: -1;
      }

      .line {
        width: 80px;
        height: 30px;
        background-color: #3a7cec;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        border-bottom-right-radius: 15px;
      }
    }
  }

}



