@import '../base';
@import '../common';

// https://bennettfeely.com/clippy/
.card_1 {
  @extend .center;
  .card {
    @extend .center;
    width: 200px;
    height: 200px;
    position: relative;
   transform: rotate(45deg);

    span:nth-child(1) {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border-top: 50px solid transparent;
      border-right: 50px solid #20bc7d;
      border-left: 50px solid transparent;
      border-bottom: 50px solid #55ddb9;
    }

    span:nth-child(2) {
      position: absolute;
      top: 0;
      left: 50%;
      width: 0;
      height: 0;
      border-top: 50px solid #1fb67c;
      border-right: 50px solid #20bc7d;
      border-left: 50px solid #25c893;
      border-bottom: 50px solid #55ddb9;
    }

    span:nth-child(3) {
      position: absolute;
      top: 50%;
      left: 0;
      width: 0;
      height: 0;
      border-top: 50px solid #1fb67c;
      border-right: 50px solid #20bc7d;
      border-left: 50px solid #25c893;
      border-bottom: 50px solid #55ddb9;
    }

    span:nth-child(4) {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      border-top: 50px solid #1fb67c;
      border-right: 50px solid #20bc7d;
      border-left: 50px solid #25c893;
      border-bottom: 50px solid #55ddb9;
    }


  }
}

.card_2 {
  @extend .center;
  .card {
    @extend .center;
    width: 200px;
    height: 100px;
    position: relative;

    span:nth-child(1) {
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      border-top: 50px solid #eee;
      border-right: 50px solid #ddd;
      border-left: 50px solid #ccc;
      border-bottom: 50px solid #ccc;
    }
    span:nth-child(2) {
       position:absolute;
       top: 50%;
       left: 50%;
       width: 20px;
       height: 20px;
       background-color: red;
       transform: translate(-50%, -50%) rotate(45deg);


       &:before {
        content: "";
        position: absolute;
        top:0;
        left: 0;
        width: 20px;
        height: 20px;
        background-color: red;
        transform: translateY(-50%);
        border-radius: 50%;
      }

      &:after {
        content: "";
        position: absolute;
        top:0;
        left: 0;
        width: 20px;
        height: 20px;
        background-color: red;
        transform: translateX(-50%);
        border-radius: 50%;
      }

    }


  }
}

.card_3 {
  @extend .center;
  background-color: #1fb67c;
  .card {
    @extend .center;
    width: 100px;
    height: 100px;
    background-color: #34588e;
    border-radius: 50%;
    border: 5px solid $color-grey-dark-3;
    position:relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      background-color: white;
      top: -22px;
      left: -39px;
      width: 125px;
      height: 98px;
      border-radius: 36%;
      transform: rotate(-19deg);
    }


    &::after {
      content: "";
      position: absolute;
      background-color: red;
      top: -137px;
      left: -79px;
      width: 188px;
      height: 200px;
      border-radius: 50%;
       ;
    }
  }
}

.card_4 {
  @extend .center;
  .card {
    @extend .center;
    width: 205px;
    height: 155px;
    background-color: #d6d6d6;
    border-radius: 15px;
    box-shadow: 0 10px 15px -13px black;
    position: relative ;

    .lens {
      width: 125px;
      height: 125px;
      background-color: #f5f5f5;
      box-shadow: 0 7px 0 0 #c0c0c0;
      border-radius: 50%;
      @extend .center;
      .inner-lens {
        width: 105px;
        height: 105px;
        background-color: #00594c;
        border-radius: 50%;
        @extend .center;
        &-2 {
          border-top: 21px solid #00087B;
          border-right: 21px solid #4db6ac;
          border-bottom: 21px solid #80Cbc4;
          border-left: 21px solid #25a69a;
          border-radius: 50%;
        }
      }
    }

    .flash {
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: #f5f5f5;
      border-radius: 50%;
      box-shadow: 0 4px 0 0 #c0c0c0;
      right: 15px;
      top: 15px;


    }

    .button {
      position: absolute;
      width: 30px;
      height: 5px;
      background-color: #009587;
      border-radius: 60px;
      left: 16px;
      top: -5px;
    }
  }
}

.card_5 {
  @extend .center;
  .card {
    @extend .center;


  }
}

.card_6 {
  @extend .center;
  .card {
    @extend .center;


  }

}

.card_7 {
  @extend .center;
  .card {
    @extend .center;


  }
}

.card_8 {
  @extend .center;
  .card {
    @extend .center;


  }
}



