<div class="container-box">
  <div class="main-card">

    <div class="card_1">
      <div class="card">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="card_2">
      <div class="card">
          <span></span>
          <span></span>
      </div>
    </div>

    <div class="card_3">
      <div class="card">

      </div>
    </div>

    <div class="card_4">
      <div class="card">
         <div class="lens">
           <div class="inner-lens">
             <div class="inner-lens-2"></div>
           </div>
         </div>
         <div class="flash"></div>
         <div class="button"></div>
      </div>
    </div>

    <div class="card_5">
      <div class="card">
         <div class="arrow  top"></div>
         <div class="arrow  left"></div>
         <div class="arrow  right"></div>
      </div>
    </div>

    <div class="card_6">
      <div class="card">
        <div class="coffee-mug"></div>
      </div>
    </div>

    <div class="card_7">
      <div class="card">
        <div class="gear">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="gear-inner"></div>
        </div>

      </div>
    </div>

    <div class="card_8">
      <div class="card">
          <div class="git">
            <div class="line1"></div>
            <div class="line2"></div>
          </div>
      </div>
    </div>


    </div>
</div>

