// https://www.w3.org/TR/css-transitions-1/#animatable-properties

@import './styles/base';
@import './styles/loader';
@import './styles/landing';
@import './styles/coollinks';
@import './styles/coolButton';
@import './styles/social';
@import './styles/scrolldownWheel';
@import './styles/skills';
@import './styles/reviews';
@import './styles/project';
@import './styles/swiper';
@import './styles/project';
@import './styles/faq';
@import './styles/threejs';

@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';



:host {
  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }

}
.image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin:-60px 0 0 -60px;

  animation:spin 4s linear infinite;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
