<div class="container-box">


<hr>
<input type="number" #input (input)="getNumber(input.value)">
<br><br>
<span [@numberEntereeState]="numberEntered == 1 ? 'selectedNumber' : 'unselectedNumber'">1</span>
<span [@numberEntereeState]="numberEntered == 2 ? 'selectedNumber' : 'unselectedNumber'">2</span>
<span [@numberEntereeState]="numberEntered == 3 ? 'selectedNumber' : 'unselectedNumber'">3</span>
<span [@numberEntereeState]="numberEntered == 4 ? 'selectedNumber' : 'unselectedNumber'">4</span>
<span [@numberEntereeState]="numberEntered == 5 ? 'selectedNumber' : 'unselectedNumber'">5</span>
<span [@numberEntereeState]="numberEntered == 6 ? 'selectedNumber' : 'unselectedNumber'">6</span>
<span [@numberEntereeState]="numberEntered == 7 ? 'selectedNumber' : 'unselectedNumber'">7</span>
<span [@numberEntereeState]="numberEntered == 8 ? 'selectedNumber' : 'unselectedNumber'">8</span>
<span [@numberEntereeState]="numberEntered == 9 ? 'selectedNumber' : 'unselectedNumber'">9</span>
<span [@numberEntereeState]="numberEntered == 0 ? 'selectedNumber' : 'unselectedNumber'">0</span>



</div>
