<div class="container">
  <!--   Loading -->
  <div  class="loading"
  [ngStyle]="{'background': loadingbackground ? 'white': '#0b134f',
   'opacity': loadingbackground ? 0.5: 1 }">
    <div class="loading__box" *ngIf="loadingBox">
        <div  class="loading__text" >
          <div   [@linewidth]="loadingBorder"></div>
          L
          <div class="loading__text--dot"  [@blink]="stateBlink"></div>OADING 경험
        </div>

        <div   class="loading__bar"  *ngIf="!progressBarFinish">
            <div class="loading__bar--inner"  [ngStyle]="width"></div>
        </div>
        <div  class="loading__bar" *ngIf="progressBarFinish"  [@movingBar]="movingBar" >

        </div>

        <div   class="loading__counter">
          <span>0%</span>
          <div>{{counter}}%</div>
        </div>
    </div>

    <div class="loading__box" *ngIf="!loadingBox" [@makeCircle]="makecircle">
      <img class="image" [src]="'../../../assets/img/SVG/loader15.svg'" alt="" width="120" height="120">
    </div>

</div>
<!--   Landing -->
<div class="landing">
  <!-- <div class="centered_link">
    <a href="#" class="coolLink" data-text="COOL LINK"><span>COOL LINK</span></a>
  </div> -->
  <!-- Header -->

      <header class="header">
        <div class="header__wrap">
          <ul class="header__left">
            <li><a href="#" class="coolLink" data-text="홈"><span>홈</span></a></li>
            <li><a href="#" class="coolLink" data-text="다시보기"><span>다시보기</span></a></li>
            <li><a href="#" class="coolLink" data-text="프로젝트"><span>프로젝트</span></a></li>
            <li><a href="#" class="coolLink" data-text="안내"><span>안내</span></a></li>
            <li><a href="#" class="coolLink" data-text="질의응답"><span>질의응답</span></a></li>
          </ul>
          <div class="header__right">
            <button class="coolButton"><span>연락처</span></button>
          </div>
        </div>
      </header>
      <!-- Social -->
      <div class="socials">
        <a href="#" class="_blank">
          <i class="uil uil-linkedin coloredIcon"></i>
        </a>
        <a href="#" class="_blank">
          <i class="uil uil-facebook coloredIcon"></i>
        </a>
        <a href="#" class="_blank">
          <i class="uil uil-google coloredIcon"></i>
        </a>
        <a href="#" class="_blank">
          <i class="uil uil-instagram-alt coloredIcon"></i>
        </a>
      </div>
      <!-- Scroll Down -->
      <div class="scrollDown">
        <div class="scrollDown__wheel">
            <div class="scrollDown__wheel--inner"></div>
        </div>
        <div class="scrollDown__arrows">
            <span class="scrollDown__arrow"></span>
            <span class="scrollDown__arrow"></span>
            <span class="scrollDown__arrow"></span>

        </div>
      </div>
</div>


<!-- Skills -->
<section class="skills">
  <div class="skills__header">웹기술</div>
      <div class="skills__text skills__text--left">
          JETPACK COMPOSE&nbsp;&nbsp;&nbsp;ANDROID&nbsp;&nbsp;&nbsp;
          KOTLIN&nbsp;&nbsp;&nbsp;ANGULAR&nbsp;&nbsp;&nbsp;
          REACT&nbsp;&nbsp;&nbsp;VIE&nbsp;&nbsp;&nbsp;
      </div>

      <div class="skills__text skills__text--right" [@movingright]="movingright">
        JQuery&nbsp;&nbsp;&nbsp;PHP&nbsp;&nbsp;&nbsp;
        KOTLIN&nbsp;&nbsp;&nbsp;ANGULAR&nbsp;&nbsp;&nbsp;
        REACT&nbsp;&nbsp;&nbsp;VIE&nbsp;&nbsp;&nbsp;
      </div>

</section>

<!--  Reviews -->
<div class="section reviews">
  <div class="reviews__header">
    <div class="instructor">
      <div class="instructor__curve"></div>
      <div class="instructor__infos">
        <img src="../../../../../assets/img/user-6.jpg" alt="" class="instructor__img">
        <div class="instructor__col">
          <div class="instructor__info">
            <i class="uil uil-star"></i>
            <span>4.9/5.0 Instructor rating</span>
          </div>
          <div class="instructor__info">
            <i class="uil uil-star"></i>
            <span>100+ 5 star reviews</span>
          </div>
          <div class="instructor__info">
            <i class="uil uil-users-alt"></i>
            <span>1K+ students</span>
          </div>
          <div class="instructor__info">
            <i class="uil uil-star"></i>
            <span>2 major courses</span>
          </div>
        </div>
      </div>
    </div>
    <!-- swipe -->
    <div class="swiper__wrapper">
      <div class="swiper">
         <div class="swiper-wrapper">
          <swiper
          [navigation]="true"
          (swiper)="onSwiper($event)"
          [pagination]="{ clickable: true }"
          [scrollbar]="{ draggable: true }"
        >
          <ng-template swiperSlide>Slide 1</ng-template>
          <ng-template swiperSlide>Slide 2</ng-template>
          <ng-template swiperSlide>Slide 3</ng-template>
          <ng-template swiperSlide>Slide 4</ng-template>
          <ng-template swiperSlide>Slide 5</ng-template>
          <ng-template swiperSlide>Slide 6</ng-template>
        </swiper>
         </div>
      </div>
    </div>
    <!-- project -->
    <section class="section projects">
      <h1 class="projects__header">Some of my work</h1>
      <div class="project">
        <div class="project__header">
          <span>1/8</span>
          <span>2022.9.4</span>
        </div>
        <div class="project__infos">
          <h1 class="project__infos--name">
            Facebook Clone<span>Very advanced</span>
          </h1>
        </div>
        <div class="project__img">
           <img src="../../../../../assets/nexter/house-1.jpeg" alt="">
           <div class="project__links">
            <a href="#" target=""_blank>
              <button class="coolButton">
                <span >Github</span>
              </button>
            </a>
           </div>
        </div>

      </div>
    </section>

  </div>









</div>









</div>
