table {
  width: 100%;
  margin-top: 20px;
}

.mat-header-cell {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}



tr.example-element-row:not(.example-expanded-row):hover {
  background: lightcyan;
}
