$color-primary: #c69963;
$color-primary-dark: #B28451;
$color-primary-rgba: rgb(198, 153, 99);

$color-secondary: #101d2c;

$color-text-1: #3d3d3d;
$color-text-2: #ee5253;
$color-text-3: #0A3D52;
$color-white: #fff;

$color-pink-7: #d6336c;
$color-pink-8: #c2255c;
$color-pink-9: #a61e4d;
$color-red-1: #e91e63;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;
$color-grey-dark-3: #999;

$color-background-1: #fffa65;
$color-background-2: #26de81;
$color-background-3: #212121;
$color-background-4: #58ea00;
$color-background-5: #222d3e;

$shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
$shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

$line: 1px solid var($color-grey-light-2);


