<p-menubar
[model]="items"
styleClass="menu_bar"
 >
 <ng-template pTemplate="start">
  <img src="assets/images/google-meet-icon.png" height="40" class="mr-2">
</ng-template>
<ng-template pTemplate="end">
  <button pButton pRipple type="button" label="등록" ></button>
  <button pButton pRipple type="button" label="회의참여하기"
  [style]="{'margin-left': '.5em'}"  (click)="joinMeeting()"
  class="p-button-rounded p-button-warning"></button>
  <button pButton pRipple type="button" label="회의시작하기"
  (click)="newMeeting()"
  [style]="{'margin-left': '.5em', 'margin-right': '50px'}"
  class="p-button-rounded p-button-warning"></button>
</ng-template>
</p-menubar>
<main>
  <div class="grid">
    <div class="col msg-container">
      <p-card header="" [style]="{'width': '100%', 'margin-bottom': '2em'}">
        <h2 style="font-size: 2.5rem;">모두를 위한 프리미엄 화상 회의</h2>
        <p style="font-size: 20px;">안전한 고품질 비즈니스 회의를 위한 Google Meet 서비스를 누구나 모든 기기에서 사용할 수 있도록 변경했습니다.</p>
        <div>
          <p-button label="회의시작하기" (click)="newMeeting()"
          icon="pi pi-camera" [style]="{'padding': '9px 25px'}"></p-button><span class="small_font">또는</span>
          <input type="text" class="p-inputtext-sm" placeholder="회의코드입력"
            #inputcode
             pInputText [style]="{'margin-right': '3px'}" />
          <p-button label="참여"  (click)="joinAction(inputcode.value)">
          </p-button>
        </div>

      </p-card>
    </div>
    <div  class="col container">
      <img src="assets/images/google-meet-people.jpg" class="signin-image">
    </div>
  </div>

</main>

