@import './base';

.trillo {
  margin: 3rem auto;
  width: 80%;
  height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform : translate(-50%, -58%);
  background-color: $color-grey-light-2;
  box-shadow: $shadow-dark;
}


.header {
  height: 4rem;
  background-color: #fff;
  border-bottom: $color-grey-dark-2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;

}

.sidebar {
  background-color: $color-grey-dark-1;
  flex: 0 0 15%;
}

.hotel-view {
  background-color: #fff;
  flex: 1;
}

.detail {
  display: flex;
  padding: 3rem;
  background-color: $color-grey-light-1;
  border-bottom: $color-grey-dark-3;
}

.description {
  font-size: 0.9rem;
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgba(0,0,0,0.4);
  flex: 0 0 60%;
  //margin-right: 2rem;
  padding: 1rem;
}

.user-reviews {
  flex: 1;

  display: flex;
  flex-direction: column;

  align-items: center;
}
