@import './base';

.container-box {
  font-size: 62.5%;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
  background-size: cover;
  position: relative;
  height: 94vh;
}

.hotel {

  width: 100vw;
  margin-top: -47px;
}

@import './base';
@import './components';
@import './layout';
@import './main';
