@import '../base';
@import '../common';

// https://bennettfeely.com/clippy/
.card_1 {
  @extend .center;
  .card {
    @extend .center;
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    border: 10px solid black;
    position: relative;

    .eye-left {
      position: absolute;
      width: 50px;
      height: 32px;
      background-color: black;
      top: 33%;
      left: 8%;
      border-radius: 0 0 80px 80px;
      transform: rotate(14deg);
      overflow: hidden;
    }

    .eye-right {
      position: absolute;
      width: 50px;
      height: 32px;
      background-color: black;
      top: 33%;
      right: 8%;
      border-radius: 0 0 80px 80px;
      transform: rotate(-14deg);
      overflow: hidden;
    }

    .left-ball {
      position: absolute;
      width: 25px;
      height: 25px;
      background-color: black;
      border: 3px solid white;
      top: -30%;
      left: 26%;
      border-radius: 50%;
    }

    .right-ball {
      position: absolute;
      width: 25px;
      height: 25px;
      background-color: black;
      border: 3px solid white;
      top: -30%;
      right: 26%;
      border-radius: 50%;
    }

    .nose {
      position: absolute;
      top: 60%;
      left: 44%;
      width: 16px;
      height: 16px;
      background-color: black;
      border-radius: 50%;

    }

    .mouth {
      position: absolute;
      top: 78%;
      left: 36%;
      width: 40px;
      height: 9px;
      background-color: black;
      border-radius: 10px;
    }


    .ear-left {
      width: 60px;
      height: 60px;
      background-color: black;
      border-radius: 50%;
      position: absolute;
      top: -12px;
      left: -27px;
      z-index: -1;
    }

    .ear-right {
      width: 60px;
      height: 60px;
      background-color: black;
      border-radius: 50%;
      position: absolute;
      top: -12px;
      right: -27px;
      z-index: -1;
    }


  }
}

.card_2 {
  @extend .center;
  .card {
    @extend .center;


  }
}

.card_3 {
  @extend .center;
  .card {
    @extend .center;


  }
}

.card_4 {
  @extend .center;
  .card {
    @extend .center;


  }
}

.card_5 {
  @extend .center;
  .card {
    @extend .center;


  }
}

.card_6 {
  @extend .center;
  .card {
    @extend .center;


  }

}

.card_7 {
  @extend .center;
  .card {
    @extend .center;


  }
}

.card_8 {
  @extend .center;
  .card {
    @extend .center;


  }
}



