@import '../base';
@import '../common';

.card_11 {
  @extend .center;
  background-color: #F0EFED;
  .card {
    @extend .center;
    width: 340px;
    height: 390px;
    border: 20px solid white;
    background-color: #F0D0D1;
    position: relative;

    .body {
      position: relative;
      width: 70%;
      height: 100%;
      background-color: #a35a37;
      bottom: 0;
      left: 50%;
      transform: translateX(-70%);
      border-radius: 50% 50% 0 0;
      .arm-left {
        position: absolute;
        width: 45%;
        height: 20%;
        background-color: #7a3b1a;
        left: 0;
        bottom: 10%;
        border-radius: 0 50% 50% 0;
        transform: skewY(5deg);
      }

      .arm-right {
        position: absolute;
        width: 45%;
        height: 20%;
        background-color: #7a3b1a;
        right: 0;
        bottom: 10%;
        border-radius: 50% 0% 0% 50%;
        transform: skewY(-5deg);
      }

      .bow {
        position: absolute;
        width: 30px;
        height: 25px;
        background-color: #f0d0d1;
        right: 25%;
        top: 8%;
        border-radius: 50% 15% 15% 50%;
        transform: rotate(15deg);
        &::before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top:0;
          left: -100%;
          background-color: #f0d0d1;
          border-radius: 15% 50% 50% 15%;

        }
      }

      .heart {
        position: absolute;
        width: 80px;
        height: 80px;
        background-color: #f0d0d1;
        top: 70%;
        right: 33%;
        transform: rotate(45deg);

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #f0d0d1;
          transform: translateY(-50%);
          border-radius: 50% 50% 0 0 ;
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #f0d0d1;
          transform: translateX(-50%);
          border-radius: 50% 0 0 50%;
        }
      }

    }
    .left-eye {
      position: absolute;
      top: 30%;
      left: 30%;
      border: 4px solid black;
      border-top: 4px solid transparent;
      width: 30px;
      height: 15px;
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;
    }

    .right-eye {
      position: absolute;
      top: 30%;
      right: 30%;
      border: 4px solid black;
      border-top: 4px solid transparent;
      width: 30px;
      height: 15px;
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;
    }

    .lashes {
      position: absolute;
      bottom: -9px;
      left: 48%;
      width: 2px;
      height: 8px;
      background-color: #3c2114;

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: -4px;
        left: -16px;
        background-color: #3c2114;
        transform: rotate(30deg);
      }

      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: -4px;
        left: 13px;
        background-color: #3c2114;
        transform: rotate(-30deg);
      }
    }

    .muzzle {
      position: absolute;
      width: 87px;
      height: 55px;
      background-color: #ffd49d;
      top: 40%;
      left: 24%;
      border-radius: 50% 0 0 50%;
      transform: rotate(-10deg);

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #ffd49d;
        left: 100%;
        border-radius: 0 50% 50% 0;
        transform: rotate(20deg);
        transform-origin: left top;
      }
    }

  }

}
.card_12 {
  @extend .center;
  .card {
    @extend .center;
    width: 200px;
    height: 200px;

    background-color: lightcoral;
    position: relative;

  }

}
