<div class="container-box">
  <div class="main-card">

    <div class="card_1">
      <div class="card">
        <div class="panda">

          <div class="eye-left">
            <div class="left-ball"></div>
          </div>

          <div class="eye-right">
            <div class="right-ball"></div>
          </div>

          <div class="nose"></div>

          <div class="mouth"></div>

          <div class="ear-left"></div>
          <div class="ear-right"></div>

        </div>
      </div>
    </div>

    <div class="card_2">
      <div class="card">
         <div class="watermelon">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
         </div>
      </div>
    </div>

    <div class="card_3">
      <div class="card">
         <div class="shape s1"></div>
         <div class="shape s2"></div>
         <div class="shape s3"></div>
      </div>
    </div>

    <div class="card_4">
      <div class="card">
         <div class="brakets"></div>
      </div>
    </div>

    <div class="card_5">
      <div class="card">

            <div class="donut-body"></div>
            <div class="face"></div>
            <div class="highlight"></div>

      </div>
    </div>

    <div class="card_6">
      <div class="card">
         <div class="part part-1"></div>
         <div class="part part-2"></div>
         <div class="part part-3"></div>
         <div class="part part-4"></div>
         <div class="part part-5"></div>
      </div>
    </div>

    <div class="card_7">
      <div class="card">
         <div class="circle"></div>
      </div>
    </div>

    <div class="card_8">
      <div class="card">
         <div class="line-1"></div>
         <div class="line-2"></div>
         <div class="circle"></div>
         <div class="line-3"></div>
         <div class="line-4"></div>
      </div>
    </div>

    <div class="card_9">
      <div class="card">
        <div class="card-1"></div>
        <div class="card-2"></div>
      </div>
    </div>

    <div class="card_10">
      <div class="card">
        <div class="clock">
          <div class="knot"></div>
          <div class="hand hour-hand"></div>
          <div class="hand min-hand"></div>
          <div class="hand second-hand"></div>

          <div class="clock-ear-left"></div>
          <div class="clock-ear-right"></div>

          <div class="clock-foot-left"></div>
          <div class="clock-foot-right"></div>
        </div>
        <div class="book-1"></div>
        <div class="book-2"></div>
        <div class="book-3"></div>

      </div>
    </div>

    <div class="card_11">
      <div class="card">
        <div class="body">
          <div class="bow"></div>
          <div class="heart"></div>
          <div class="arm-left"></div>
          <div class="arm-right"></div>
        </div>

        <div class="left-eye">
          <div class="lashes"></div>
        </div>

        <div class="right-eye">
          <div class="lashes"></div>
        </div>

        <div class="muzzle"> </div>
        <div class="nose"></div>
      </div>
    </div>

    <!-- <div class="card_12">
      <div class="card">
         <div class="circle"></div>
      </div>
    </div> -->








    </div>
</div>
