<div class="container-box">
  <div class="main-card">

    <div class="card_1">
      <div class="card">
        <div class="panda">

          <div class="eye-left">
            <div class="left-ball"></div>
          </div>

          <div class="eye-right">
            <div class="right-ball"></div>
          </div>

          <div class="nose"></div>

          <div class="mouth"></div>

          <div class="ear-left"></div>
          <div class="ear-right"></div>

        </div>
      </div>
    </div>

    <div class="card_2">
      <div class="card">
         <h2>글씨가 춤춘다</h2>
      </div>
    </div>

    <div class="card_3">
      <div class="card">
         <h2>글씨가 춤춘다</h2>
      </div>
    </div>

    <div class="card_4">
      <div class="card">
         <h2>글씨가 춤춘다</h2>
      </div>
    </div>

    <div class="card_5">
      <div class="card">
         <h2>글씨가 춤춘다</h2>
      </div>
    </div>

    <div class="card_6">
      <div class="card">
         <h2>글씨가 춤춘다</h2>
      </div>
    </div>

    <div class="card_7">
      <div class="card">
         <h2>글씨가 춤춘다</h2>
      </div>
    </div>

    <div class="card_8">
      <div class="card">
         <h2>글씨가 춤춘다</h2>
      </div>
    </div>


    </div>
</div>
