.banner {
  margin-top: 15px;
  background-color: var(--cyan-200);
  border-radius: 10px;

  &-text {
    padding-top: 32px;

    h1 {
      color: #1629d8;
    }

    h3 {
      color: #505792;
    }
  }

  &-image {
    padding: 5px 20px 0 0;
    text-align: right;
  }

  .p-button {
    background-color: var(--surface-0);
    color: red;
    border: 0;

    &:enabled:hover {
      background-color: var(--surface-0);
      color: red;
      border: 0;
    }
  }
}
