<div class="banner">
  <div class="grid">
    <div class="col-5 col-offset-1 banner-text">
      <h1>이 달의 추천</h1>
      <h3>베스트 상품</h3>
  <!-- <p-button label="더보기"
      styleClass="p-mt-4 banner-button"
        icon="pi pi-chevron-right"
        iconPos="right"></p-button>  -->

        <button pButton
         type="button"
         label="더보기"
         class="p-mt-4 banner-button"
         icon="pi pi-chevron-right"
         iconPos="right"
          ></button>
    </div>
    <div class="col-6 banner-image animate__animated animate__slideInLeft animate__delay-0.5s">
      <img src="assets/images/banner-image.svg" alt="">
    </div>
  </div>

</div>
