/*
행삭제 Ctrl + X
행복사 Alt + Shift + 방향키(up/down)
Ctrl + Enter - 아래에 행 삽입
Ctrl + Shift + Enter - 위에 행 삽입
태그 랩핑하기 Alt + W
동일한 텍스트 선택
 Ctrl + D - 순차적으로 하나씩 선택

Ctrl + Shift + L - 한꺼번에 모두 선택
*/

@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';
@import 'abstracts/typography';

@import 'base/colors';
@import 'base/animations';
@import 'base/utility';

@import 'pages/home';

@import 'components/button';
@import 'components/composition';
@import 'components/feature_box';
@import 'components/card';
@import 'components/story';
@import 'components/bg-video';
@import 'components/form';
@import 'components/footer';
@import 'components/navigation';
@import 'components/popup';

@import 'layout/header';

:host {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.logo {
  height: 30px;

  &-box {
    position: absolute;
    top: 40px;
    left: 40px;
    &:hover {
      transform: skewX(4deg) skewY(5deg) scale(1.2);
    }
  }
}

.text-box {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
