.basicSize {
  width: 100%;
  height: 100%;
}
.basicPosition {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


.image {
  position: relative;
  overflow: hidden;
  height: 100%;

  &__one {
    &-img {
      @extend .basicSize;
      transition:all 0.5s;
    }

    &-caption {
      @extend .basicPosition;
      opacity: 0;
      transition: all 0.5s;
      background: rgba(0,0,0,0);
      transition: all 0.5s;
    }

  }

  &:hover &__one-caption {
    opacity: 1;
    background: rgba(0,0,0,0.5);
    padding: 0;
    cursor: pointer;
  }

  &:hover &__one-img {
    transform: scale(1.3) rotate(15deg);
  }
/////////////////////////////////////////
  &__two {
    &-img {
      @extend .basicSize;
      transition:all 0.5s;
    }

    &-caption {
      @extend .basicPosition;
      opacity: 0;
      transition: all 0.8s;
      background: rgba(0,0,0,0);
      transform: translateY(-100%);
    }

  }

  &:hover &__two-caption {
    transform: translateY(0);
    opacity: 1;
    left: 0;
    background: rgba(0,0,0,0.5);
    cursor: pointer;
  }

  &:hover &__two-img {
    transform: scale(1.3) rotate(-15deg);
  }
//////////////////////////////////////////////////
&__three {
  &-img {
    width: 100%;
    height: 100%;
    transition:all 0.8s;
  }

  &-caption {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.8s;
    background: rgba(0,0,0);
    transform: translateX(-100%);
  }

}

&:hover &__three-caption {
  transform: translateX(0);
  background: rgba(0,0,0);
  cursor: pointer;
}

&:hover &__three-img {
  transform: translateX(100%);
}
///////////////////////////////////////////
&__four {
  &-img {
    width: 100%;
    height: 100%;
    transition:all 0.8s;
  }

  &-caption {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.8s;
    background: rgba(0,0,0);
    transform: translateY(100%);

    p { margin: 0; }

    h3 { margin: 0 }
  }

}

&:hover &__four-caption {
  transform: translateY(78%);
  background: rgba(0,0,0);
  cursor: pointer;
}

&:hover &__four-img {
  transform: translateY(-20%)
}
//////////////////////////////////////


/////////////////////////////////////
&__six {

  &-img {

  }

  &-caption {

  }

  &:hover &-caption {}

  &:hover &__s-img {}
}

///////////////////////////////////////////////
&__seven {

  &-img {

  }

  &-caption {

  }

  &:hover &__seven-caption {}

  &:hover &__seven-img {}
}
/////////////////////////////////////////////////
&__eight {

  &-img {

  }

  &-caption {

  }

  &:hover &__eight-caption {}

  &:hover &__eight-img {}
}
////////////////////////////////////////
&__nine {

  &-img {

  }

  &-caption {

  }

  &:hover &__nine-caption {}

  &:hover &__nine-img {}
}
////////////////////////////////////////////////
&__ten {

  &-img {

  }

  &-caption {

  }

  &:hover &__ten-caption {}

  &:hover &__ten-img {}
}




}

.image5 {
  position: relative;
  overflow: hidden;
  height: 100%;
  transform: all 0.5s;

  &__five {

    &-img {
      height: 100%;
      width: 100%;
    }

    &-caption {
      @extend .basicPosition;
      transition: all 0.5s;
      transform: translateY(100%);
      transition-delay: 0.4s;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color:  rgba(0,0,0,0.6);
    transform: translateY(100%);
  }

  &:hover &__five-caption {
    transform: translateY(0);
  }
  &:hover::before {
    transform: translateY(0);
  }

}




