<div class="container-box">
  <div class="main-box">

    <div class="images">
       <div class="image">
          <img src="./assets/img/image.png" class=" image__one-img">
          <div class="image__one-caption">
            <h3>특 수 임 무</h3>
            <p>모든 것을 여기에 !!!!</p>
          </div>
       </div>
    </div>
    <div class="images">
      <div class="image">
        <img src="./assets/img/image.png" class=" image__two-img">
        <div class="image__two-caption">
          <h3>특 수 임 무</h3>
          <p>모든 것을 여기에 !!!!</p>
        </div>
     </div>
   </div>
   <div class="images ">
    <div class="image">
      <img src="./assets/img/image.png" class=" image__four-img">
      <div class="image__four-caption">
        <h3>특 수 임 무</h3>
        <p>모든 것을 여기에 !!!!</p>
      </div>
   </div>
  </div>
  <div class="images ">
    <div class="image">
      <img src="./assets/img/image.png" class=" image__one-img">
      <div class="image__one-caption">
        <h3>특 수 임 무</h3>
        <p>모든 것을 여기에 !!!!</p>
      </div>
   </div>
  </div>


  </div>
</div>

