<div class="container">
  <div class="header">
    <div class="left">
      <h2 class="title">전체과정</h2>
      <button  pButton  pRipple  type="button"  icon="pi pi-plus"
        class="p-button-rounded"  routerLink="/create-course" >
      </button>
    </div>

    <div class="user">
      <i class="pi pi-user" style="font-size: 2rem" (click)="menu.toggle($event)"></i>
      <p-menu #menu [popup]="true" [model]="items"></p-menu>
    </div>

  </div>

  <p-tabView>
    <p-tabPanel header="기초과정" [selected]="true" leftIcon="pi pi-calendar">
      <app-courses-card-list
        [courses]="beginnersCourses$ | async"
        (editcourse)="getCourse()"
        (deletecourse)="getCourse()"
      ></app-courses-card-list>
    </p-tabPanel>
    <p-tabPanel header="고급과정" leftIcon="pi pi-calendar">
      <app-courses-card-list
        [courses]="advancedCourses$ | async"
        (editcourse)="getCourse()"
        (deletecourse)="getCourse()"
      ></app-courses-card-list>
    </p-tabPanel>
  </p-tabView>
</div>
