@import './base';

.card_one {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-background-2;

  .card {
    h1 {
      color: $color-white;
      letter-spacing: 10px;
      text-align: center;
      text-shadow: 0 1px 0 #efefef,
                   0 2px 0 #efefef,
                   0 3px 0 #efefef,
                   0 4px 0 #efefef,
                   0 30px 5px rgba(0,0,0,0.3);
      animation: float 3s linear infinite;
      animation-direction: alternate;
    }

  }
}

@keyframes float {
  0% { transform: rotate(5deg);}
  100% { transform: rotate(-5deg)}

}
