@import './base';

.card_one {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-background-2;

  .card {
    color: $color-white;
  }
}
