<div class="container-box">
  <div class="main-card">

      <div class="card_one">
        <div class="card">
          <h1>앵귤러를<br>배우자<br></h1>
        </div>

      </div>

      <div class="card_two">
        <div class="card">

        </div>
      </div>

      <div class="card_three">
        <div class="card">
          <h1>앵귤러를<br>배우자<br></h1>
        </div>
      </div>

      <div class="card_four">
        <div class="card">
          <h1>앵귤러를<br>배우자<br></h1>
        </div>
      </div>

  </div>
</div>
