<div class="container-box">
  <div class="main-card">

      <div class="card_one">
        <div class="card">
          <h1>앵귤러를<br>배우자<br></h1>
        </div>

      </div>

      <div class="card_two">
        <div class="card">

        </div>
      </div>

      <div class="card_three">
        <div class="background">
           <img src="./assets/img/car.png" alt="" class="car">
           <img src="./assets/img/motobike.png" alt="" class="motorbike">
        </div>
      </div>

      <div class="card_four">
        <div class="card">
          <h1>앵귤러를  <span></span></h1>
        </div>
      </div>

      <div class="card_five">
        <div class="card">
          <h1>앵귤러를 배우자</h1>
        </div>
      </div>

      <div class="card_six">
        <div class="card">
          <h1>앵귤러를 배우자</h1>
        </div>
      </div>

      <div class="card_seven">
        <div class="card">
          <ul>
            <li>앵</li>
            <li>귤</li>
            <li>러</li>
            <li>를</li>
            <li>배</li>
            <li>우</li>
            <li>자</li>
          </ul>

        </div>
      </div>

      <div class="card_8">
        <div class="card">
           <div class="heart"></div>
        </div>
      </div>

      <div class="card_9">
        <div class="card">
          <h1>ANGULAR 배우자</h1>
        </div>
      </div>

      <div class="card_10">
        <div class="card">
           <ul>
             <li></li>
             <li></li>
             <li></li>
             <li></li>
             <li></li>
           </ul>
        </div>
      </div>

      <div class="card_11">
        <div class="card">

        </div>
      </div>


  </div>
</div>
