.main-box {
  height: 100%;
  padding: 10px 2rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-template-rows: repeat(3, 100px);
  grid-row-gap: 40px;
  grid-column-gap: 20px;

  .menubox {
    padding: 1rem;

  }
}
