
<div class="container-box">
  <div class="main-box">
      <div class="menu__one">
        <ul>
          <li><a href="#">홈</a></li>
          <li><a href="#">앵귤러</a></li>
          <li><a href="#">리액트</a></li>
          <li><a href="#">뷰</a></li>
          <li><a href="#">기타</a></li>
        </ul>
    </div>


    <div class="menu__two">
      <ul>
        <li><a href="#">홈</a></li>
        <li><a href="#">앵귤러</a></li>
        <li><a href="#">리액트</a></li>
        <li><a href="#">뷰</a></li>
        <li><a href="#">기타</a></li>
      </ul>
  </div>

  <div class="menu__three">
    <ul>
      <li><a href="#">홈<span></span></a></li>
      <li><a href="#">앵귤러<span></span></a></li>
      <li><a href="#">리액트<span></span></a></li>
      <li><a href="#">뷰<span></span></a></li>
      <li><a href="#">기타<span></span></a></li>
    </ul>
  </div>

  <div class="menu__four">
    <ul>
      <li><a href="#">홈</a></li>
      <li><a href="#">앵귤러</a></li>
      <li><a href="#">리액트</a></li>
      <li><a href="#">뷰</a></li>
      <li><a href="#">기타</a></li>
    </ul>
  </div>

  <div class="menu__five">
    <ul>
      <li><a href="#">홈</a></li>
      <li><a href="#">앵귤러</a></li>
      <li><a href="#">리액트</a></li>
      <li><a href="#">뷰</a></li>
      <li><a href="#">기타</a></li>
    </ul>
  </div>

  <div class="menu__six">
    <ul>
      <li><a href="#">홈</a></li>
      <li><a href="#">앵귤러</a></li>
      <li><a href="#">리액트</a></li>
      <li><a href="#">뷰</a></li>
      <li><a href="#">기타</a></li>
    </ul>
  </div>






  </div>
</div>
