<p>menu-effects works!</p>
<div class="container-box">
  <div class="main-box">
      <div class="menu__one">
        <ul>
          <li><a href="#">홈</a></li>
          <li><a href="#">앵귤러</a></li>
          <li><a href="#">리액트</a></li>
          <li><a href="#">뷰</a></li>
          <li><a href="#">기타</a></li>
        </ul>
    </div>


    <div class="menu__two">
      <ul>
        <li><a href="#">홈</a></li>
        <li><a href="#">앵귤러</a></li>
        <li><a href="#">리액트</a></li>
        <li><a href="#">뷰</a></li>
        <li><a href="#">기타</a></li>
      </ul>
  </div>

  <div class="menu__three">
    <ul>
      <li><a href="#"><span>홈</span></a></li>
      <li><a href="#">앵귤러</a></li>
      <li><a href="#">리액트</a></li>
      <li><a href="#">뷰</a></li>
      <li><a href="#">기타</a></li>
    </ul>
  </div>

  <div class="menu__four">
    <ul>
      <li><a href="#">홈</a></li>
      <li><a href="#">앵귤러</a></li>
      <li><a href="#">리액트</a></li>
      <li><a href="#">뷰</a></li>
      <li><a href="#">기타</a></li>
    </ul>
  </div>


  </div>
</div>
