<!-- Edit Modal -->
<ngshop-modal [modalID]="'VIDEOEDIT'">
  <p class="text-2xl font-bold text-white">Edit Video</p>

  <!-- Form -->
  <form [formGroup]="formGroup">
    <!-- Title -->
    <div class="mt-4">
      <label class="block text-xl mb-4 text-white">Title</label>
      <input
        formControlName="title"
        placeholder="Enter Title"
        class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
      />
    </div>

    <div class="mt-4 text-right">
      <button
        type="submit"
        (click)="update()"
        class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm rounded-md text-white bg-indigo-600 focus:outline-none"
      >
        Update
      </button>
    </div>
  </form>
</ngshop-modal>
<p-toast></p-toast>
