 <!--
   행삭제 Ctrl + X
   행복사 Alt + Shift + 방향키(up/down)
   Ctrl + Enter - 아래에 행 삽입
   Ctrl + Shift + Enter - 위에 행 삽입
   태그 랩핑하기 Alt + W
   동일한 텍스트 선택
    Ctrl + D - 순차적으로 하나씩 선택

Ctrl + Shift + L - 한꺼번에 모두 선택
 -->

 <header>
  <div class="grid">
   <div class="col-3">
     <div class="logo">
       <img src="assets/images/logo.png" alt="logo">
     </div>
   </div>
   <div class="col-4 search">
      <ngshop-product-search></ngshop-product-search>
   </div>
   <div class="col-3   navigation">
    <ngshop-nav></ngshop-nav>
   </div>
   <div class="col-2 tools">
     <i class="pi pi-user  p-text-secondary" style="font-size: 1.5rem"></i>
     <!-- <i class="pi pi-shopping-cart"></i> -->
     <order-card-icon></order-card-icon>


   </div>
  </div>






 </header>
