@import '../base';
@import '../common';
@import './animation';
// https://bennettfeely.com/clippy/
.card_1 {
  @extend .center;
  .card {
    @extend .center;
    width: 100%;
    height: 100%;
    .loader {
      width: 500px;
      height: 80px;
      border: 7px solid #0a3d62;
      text-align: center;
      line-height: 60px;
      display:flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;

      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 2rem;
        font-weight: 600;
      }

      .top-half {
        color: $color-text-2;
        clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
        animation: clipPath 5s linear infinite;
      }

      .bottom-half {
        color: $color-text-3;
        clip-path: polygon(0 100%, 100% 100%, 100% 50%, 0 50%);
        animation: clipPath 5s linear infinite reverse;
      }

    }
  }
}

.card_2 {
  @extend .center;
  background-color: $color-background-3;
  .card {
    @extend .center;
    width: 500px;
    height: 300px;
    position: relative;

    h2 {
      position: absolute;
      top: 50px;
      left: 0;
      text-align: center;
      font-size: 3rem;

    }
    h2:nth-child(1){
       color: white;
       -webkit-text-stroke: 2px;
    }

    h2:nth-child(2) {
      color: #03a9f4;
      animation: wave 2s ease-in-out infinite;
    }

  }
}

.card_3 {
  .card {
    position: absolute;
    width: 500px;
    height: 200px;

    .clip {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.5s;
    }

    .clip1 {
      background-image: url(../../../../assets/img/hotel-1.jpg);
      background-size:  100% 100%;
      background-repeat: no-repeat;
      clip-path: polygon(0 0, 49% 0, 26% 100%, 0 100%);
    }
    .clip2 {
      background-image: url(../../../../assets/img/hotel-2.jpg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      clip-path: polygon(9% 0, 78% 0, 71% 100%, 23% 100%);
    }

    .clip3 {
      background-image: url(../../../../assets/img/hotel-3.jpg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      clip-path: polygon(80% 0, 100% 1%, 100% 100%, 51% 99%);
    }

    &:hover .clip {
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }

    & .clip:hover {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }


  }
}

.card_4 {
  @extend .center;
  .card {
    width: 300px;
    height: 150px;
    background-color: #c7ecee;
    padding: 5px 7px 5px 7px;
    transition: all 0.5s;
    clip-path: circle(6.8% at 88% 13%);

    h3 {
      margin: 0;
    }
    p {
      font-size: 8px;
    }

    &:hover {
      clip-path: circle(70.7% at 50% 50%);
    }
  }
}

.card_5 {
  @extend .center;
  background-color: #c8d6e5;
  .card {
    width: 300px;
    height: 150px;
    position: relative;


    h1 {
      margin: 0;
      font-weight: bold;
      font-size: 3rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;
      transition: 0.5s;


      &:nth-child(2) {
        color: white;
        clip-path: polygon(0 0, 0 0, 100% 0, 0% 100%);
        background-color: #c8d6e5;

        &:hover {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
      }

      &:nth-child(1):hover ~ h1 {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      }
    }
  }
}

.card_6 {
  @extend .center;
  background-color: $color-background-3;

  .card {
    @extend .center;
    position: relative;
    color: white;
    width: 160px;
    height: 60px;

    span {
      font-size: 1rem;
      font-weight: bold;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #03a9f4;
      text-align: center;
      line-height: 60px;

    }

    span:nth-child(1):hover ~ span {
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%, 100% 0);

    }

    span:nth-child(2) {
      background-color: white;
      clip-path: polygon(75% 0, 100% 0, 100% 100%, 75% 100%, 50% 50%);
      color: #4834d4;
      transition: 0.5s;
      &:hover {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 50%);
      }
    }
  }

}

.card_7 {
  @extend .center;

  .card {
    @extend .center;
    position: relative;
    width: 300px;
    height: 200px;
    transition: 0.5s;
    overflow: hidden;

    span {
      font-size: 2rem;
      font-weight: bold;
      position: relative;
      width: 100%;
      text-align: center;
      line-height: 200px;
      color: transparent;
    }

    span:before {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.5s;
      transition-delay: 0.25s;
      color: #262626;
      clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    }

    span:after {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: #262626;
      clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
      transition: 0.5s;

    }

    span:hover:before {
        transform: translate(-10px, -10px);
        color: #03a9f4;


    }

    span:hover:after {
      transform: translate(10px, 10px);
      color: blue;


    }

  }

  .card:before {
     content: "";
     position: absolute;
     top: 50%;
     left: -100%;
     transform: translateY(-50%);
     width: 100%;
     height: 2px;
     transition: 0.5s;
  }

  .card:hover:before {
    background-color: green;
     left: 100%;
  }
}

.card_8 {
  @extend .center;
  .card {
    @extend .center;
    height: 200px;
    width: 200px;
    position: relative;
    border-radius: 50%;
    transition: 3s;
    animation: polar_rotate 3s linear infinite;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width:200px;
      height: 100px;
      background-color: red;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;

      transform-origin: bottom;
      transform:rotate(33deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;

      left: -32px;
      width:200px;
      height: 100px;
      background-color: blue;
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;
      transform:rotate(33deg);
    }
    .left {
      background-color: red;
      position: absolute;
      top: 32%;
      left: -3px;
      width: 100px;
      height: 50px;
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;
      z-index: 1;

      transform-origin: center;
      transform:rotate(33deg);
    }
    .right {
      background-color: blue;
      position: absolute;
      top: 31%;
      left: 53%;
      width: 103px;
      height: 50px;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
      z-index: 1;
      transform-origin: left;
      transform:rotate(33deg);

    }

  }
}

