<div class="container-box">
  <div class="main-card">

    <div class="card_1">
      <div class="card">
        <div class="loader">
          <span class="top-half">앵귤러를 배우자</span>
          <span class="bottom-half">앵귤러를 배우자</span>
        </div>

      </div>
    </div>


    <div class="card_2">
      <div class="card">

          <h2>글씨가 춤춘다</h2>
          <h2>글씨가 춤춘다</h2>

      </div>
    </div>

    <div class="card_3">
      <div class="card">
            <div class="clip clip1"></div>
            <div class="clip clip2"></div>
            <div class="clip clip3"></div>
      </div>
    </div>

    <div class="card_4">
      <div class="card">
        <h3>공지문</h3>
        <p>
          죽는 날까지 하늘을 우러러
          한 점 부끄럼이 없기를
          잎새에 이는 바람에도
          나는 괴로워했다.
          별을 노래하는 마음으로
          모든 죽어 가는 것을 사랑해야지.
          그리고 나한테 주어진 길을
          걸어가야겠다
          오늘 밤에도 별이 바람에 스치운다
        </p>
      </div>
    </div>

    <div class="card_5">
      <div class="card">
          <h1>안녕하세요</h1>
          <h1>반갑습니다</h1>
      </div>
    </div>

    <div class="card_6">
      <div class="card">
        <span>추억의 시</span>
        <span>추억의 시</span>
      </div>
    </div>

    <div class="card_7">
      <div class="card arrow">
        <span data-text="문자나누기">문자나누기</span>

      </div>
    </div>

    <div class="card_8">
      <div class="card">
           <div class="top">
             <div></div>
             <div></div>
           </div>
           <div class="bottom">
            <div></div>
            <div></div>
          </div>
      </div>
    </div>



  </div>
</div>
