@import '../base';
@import '../common';

// https://bennettfeely.com/clippy/
.card_1 {
  @extend .center;
  .card {
    @extend .center;
    width: 215px;
    height: 405px;
    background-color: green;
    position: relative;
  }

  .forehead {
    position: absolute;
    width: 170px;
    height: 200px;
    background-color: #fed90f;
    border: 1px solid #000;
    top: 10px;
    border-radius: 60%/50%;
    transform: rotate(-18deg);
  }

  .hair1 {
    position: absolute;
    width: 80px;
    height: 70px;
    border-top: 2px solid #000;
    top: 15px;
    left: 20px;
    border-radius: 50%;
    transform: rotate(-40deg);
  }

  .hair2 {
    position: absolute;
    width: 80px;
    height: 70px;
    border-top: 2px solid #000;
    top: 20px;
    border-radius: 50%;
    transform: rotate(-30deg);
  }

  .r-eye {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: white;
    border: 1px solid #000;
    border-radius: 50%;
    left: 120px;
    top:110px;
  }

  .pupil-right {
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: #000;
    border-radius: 50%;
    left: 35px;
    top: 34px;
  }

  .l-eye {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: white;
    border: 1px solid #000;
    border-radius: 50%;
    left: 62px;
    top:115px;
  }
  .pupil-left {
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: #000;
    border-radius: 50%;
    left: 33px;
    top: 34px;
  }
}

.card_2 {
  @extend .center;
  .card {
    @extend .center;


  }
}

.card_3 {
  @extend .center;
  .card {
    @extend .center;


  }
}

.card_4 {
  @extend .center;
  .card {
    @extend .center;


  }
}

.card_5 {
  @extend .center;
  .card {
    @extend .center;


  }
}

.card_6 {
  @extend .center;
  .card {
    @extend .center;


  }

}

.card_7 {
  @extend .center;
  .card {
    @extend .center;


  }
}

.card_8 {
  @extend .center;
  .card {
    @extend .center;
    height: 300px;
    width: 300px;
    border: 1 solid black;


  }
}



