<div class="container-box">
  <div class="main-card">

    <div class="card_1">
      <div class="card">
          <div class="forehead"></div>

            <div class="hair1"></div>
            <div class="hair2"></div>
            <div class="f-side1"></div>
          <div class="r-eye">
            <div class="pupil-right"></div>
          </div>

          <div class="l-eye">
            <div class="pupil-left"></div>
          </div>
          <div class="neck"></div>
          <div class="mouth">
            <div class="mouth-part1"></div>
            <div class="mouth-part2"></div>
          </div>
          <div class="mouth-part3"></div>
          <div class="mouth-part4"></div>
          <div class="mouth-part5"></div>

          <div class="f-side2"></div>

          <div class="ear">
            <div class="ear-1">
              <div class="ear-2"></div>
            </div>
          </div>


          <div class="nose"></div>


          <div class="collar-left"></div>
          <div class="collar-right"></div>

      </div>
    </div>






    <div class="card_8">
      <div class="card">
         <h2>글씨가 춤춘다</h2>
      </div>
    </div>


    </div>
</div>
