@import './base';

.features {
  grid-row: 2 /3;
  grid-column: 3 /9;
  background-color: lightcyan;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 2rem;
  align-items: start;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 1rem;



  &__icon {
    height: 2rem;

  }

  &__text {

  }


}
