@import './base';

.story {

  &__pictures {
   grid-row: 3 /4;
   grid-column: 1/ 6;
   @media only screen and (max-width: 750px) {
    grid-row: 4 / 5;
  }
   background-image:
   linear-gradient( rgba($color-primary, 0.4),rgba($color-primary, 0.4) ),
   url(/assets/nexter/back.jpg);
   background-size: cover;

   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-template-rows: repeat(6,1fr);
   align-items: center;
  }

  &__img {
    &--1 {
      grid-row: 2/6;
      grid-column: 2/6;
      width: 100%;

    }

    &--2 {
      grid-row: 4/6;
      grid-column: 4/7;
      width: 110%;
      z-index: 2;

    }

  }



  &__content {
    grid-row: 3 /4;
    grid-column: 6/ 11;
    justify-content: center;
    align-items: center;
    background-color: $color-grey-light-4;
    padding: 3rem 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .heading-2,
    .heading-3 {
      margin: 0;
    }
  }





}
