
@import './base';


.heading-1 {
  color: $color-grey-light-1;
  font-size: 4rem;
  display: inline-block;

}

.heading-2 {
  font-size: 3rem;

}

.heading-3 {
  color: $color-primary;
  font-size: 1.2rem;
  text-align: center;
}

.heading-4 {
  font-size: 1.2rem;
  color: $color-grey-light-1;
}
