@import '../base';
@import './animation';
@import '../common';

/* https://www.freepik.com/free-vector/city-at-night-and-day-illustration_829621.htm */

.card_1 {
  .card {
    width: 100%;
    height: 100%;

    background-image: url(../../../../assets/img/hotel-1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: slide 10s linear infinite;
    animation-direction: alternate;
  }

}

.card_2 {
  @extend .center;
  animation: bgchange 10s infinite;
  animation-direction: alternate;
   h1 {
     font-size: 2rem;
     color: $color-white;
   }
}

.card_3 {
  @extend .center;
  background-color: $color-background-3;
  .card {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding:10px 0px  50px 0px;

    span:first-child {
      animation: left-arm 3s ease-in infinite;
    }

    span:last-child {
      animation: right-arm 3s ease-in infinite;
      animation-delay: 1.5s;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50px;
      left: 25%;
      width: 50%;
      border-top: 3px solid white;
    }
    span {
        display: block;
        background-color: $color-white;
        width: 3px;
        height: 100px;
        margin: 0 8px;
        position: relative ;
        transform-origin: top;

        &::after {
           content: "";
           position: absolute;
           bottom: 0;
           left: -10px;
           width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: $color-white;

        }
    }

  }

}


.card_4 {
  @extend .center;
  background-color: $color-background-3;
  .card {
    width: 100px;
    height: 100px;
    @extend .center;
    position: relative;
    transform: rotate(45deg);
    animation: expand 1s linear infinite;
    span {
      width: 50px;
      height: 50px;
      position: absolute;
      animation: rotate 1s linear infinite;

      &:nth-child(1) {
        top: 0;
        left: 0;
        background-color: antiquewhite;
      }
      &:nth-child(2) {
        top: 0;
        left: 50%;
        background-color: aqua;
      }
      &:nth-child(3) {
        top: 50%;
        left: 0;
        background-color: blue;
      }
      &:nth-child(4) {
        top: 50%;
        left: 50%;
        background-color: lightcoral;
      }

    }

  }
}

.card_5 {
  @extend .center;
  background-color: $color-background-3;
  .card {
    width: 100px;
    height: 100px;
    @extend .center;
    position: relative;
    span {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 0;
      left: 0;
      background-color:  $color-white;
      animation: chase 2s linear infinite;


      &:nth-child(2) {
       animation-delay: 0.7s;

      }
      &:nth-child(3) {
       animation-delay: 1.4s;

      }
    }
  }

}


.card_6 {
  @extend .center;
  background-color: $color-background-3;
  .card {
    width: 100%;
    height: 100%;
    @extend .center;
    h1 {
      font-size: 2rem;
      color: $color-white;
      position: relative;
      &:before {
        content: "LOADING..";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        color: $color-grey-dark-2;
        border-right: 4px solid $color-grey-dark-2;
        overflow: hidden;
        animation: around 2s linear infinite;
        animation-direction: alternate;
      }
    }
  }


}


.card_7 {
  @extend .center;
  .card {
    width: 100px;
    height: 100px;
    position:relative;

    .ring {
      width: 100%;
      height: 100%;
      border-left: 3px solid black;
      border-radius: 50%;
      animation: rolling 1s linear infinite;
    }

    .text {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      line-height: 100px;
    }
  }

}

.card_8 {
  @extend .center;
  background-color: $color-background-3;
  .card {
    width: 200px;
    height: 4px;
    background-color: $color-white;
    animation: line 2s infinite alternate;
  }
}

.card_9 {
  @extend .center;
  background-color: $color-background-3;

    .obj {
      width: 5px;
      height: 40px;
      background-color: $color-white;
      margin: 0 3px;
      border-radius: 10px;
      animation: music 0.8s linear infinite ;
      // transform-origin: bottom;

      &:nth-child(2) {
        animation-delay: 0.1s;
      }
      &:nth-child(3) {
        animation-delay: 0.2s;
      }
      &:nth-child(4) {
        animation-delay: 0.3s;
      }
      &:nth-child(5) {
        animation-delay: 0.4s;
      }
      &:nth-child(6) {
        animation-delay: 0.5s;
      }
      &:nth-child(7) {
        animation-delay: 0.6s;
      }
      &:nth-child(8) {
        animation-delay: 0.7s;
      }
      &:nth-child(9) {
        animation-delay: 0.8s;
      }
      &:nth-child(10) {
        animation-delay: 0.9s;
      }


  }
}

.card_10 {
  @extend .center;

}

.card_11 {
  @extend .center;


}
.card_12 {
  @extend .center;
}
.card_13 {
  @extend .center;
}
.card_14 {
  @extend .center;
}



