@import '../base';
@import './animation';
@import '../common';

/* https://www.freepik.com/free-vector/city-at-night-and-day-illustration_829621.htm */

.card_1 {
  .card {
    width: 100%;
    height: 100%;

    background-image: url(../../../../assets/img/hotel-1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: slide 10s linear infinite;
    animation-direction: alternate;
  }

}

.card_2 {
  @extend .center;
  animation: bgchange 10s infinite;
  animation-direction: alternate;
   h1 {
     font-size: 2rem;
     color: $color-white;
   }
}

.card_3 {
  @extend .center;
  background-color: $color-background-3;
  .card {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding:10px 0px  50px 0px;

    span:first-child {
      animation: left-arm 3s ease-in infinite;
    }

    span:last-child {
      animation: right-arm 3s ease-in infinite;
      animation-delay: 1.5s;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50px;
      left: 25%;
      width: 50%;
      border-top: 3px solid white;
    }
    span {
        display: block;
        background-color: $color-white;
        width: 3px;
        height: 100px;
        margin: 0 8px;
        position: relative ;
        transform-origin: top;

        &::after {
           content: "";
           position: absolute;
           bottom: 0;
           left: -10px;
           width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: $color-white;

        }
    }

  }

}


.card_4 {
  @extend .center;
  background-color: $color-background-3;
  .card {
    width: 100px;
    height: 100px;
    @extend .center;
    position: relative;
    transform: rotate(45deg);
    animation: expand 1s linear infinite;
    span {
      width: 50px;
      height: 50px;
      position: absolute;
      animation: rotate 1s linear infinite;

      &:nth-child(1) {
        top: 0;
        left: 0;
        background-color: antiquewhite;
      }
      &:nth-child(2) {
        top: 0;
        left: 50%;
        background-color: aqua;
      }
      &:nth-child(3) {
        top: 50%;
        left: 0;
        background-color: blue;
      }
      &:nth-child(4) {
        top: 50%;
        left: 50%;
        background-color: lightcoral;
      }

    }

  }
}

.card_5 {
  @extend .center;
  background-color: $color-background-3;
  .card {
    width: 100px;
    height: 100px;
    @extend .center;
    position: relative;
    span {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 0;
      left: 0;
      background-color:  $color-white;
      animation: chase 2s linear infinite;


      &:nth-child(2) {
       animation-delay: 0.7s;

      }
      &:nth-child(3) {
       animation-delay: 1.4s;

      }
    }
  }

}


.card_6 {
  @extend .center;
  background-color: $color-background-3;
  .card {
    width: 100%;
    height: 100%;
    @extend .center;
    h1 {
      font-size: 2rem;
      color: $color-white;
      position: relative;
      &:before {
        content: "LOADING..";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        color: $color-grey-dark-2;
        border-right: 4px solid $color-grey-dark-2;
        overflow: hidden;
        animation: around 2s linear infinite;
        animation-direction: alternate;
      }
    }
  }


}


.card_7 {
  @extend .center;
  .card {
    width: 100px;
    height: 100px;
    position:relative;

    .ring {
      width: 100%;
      height: 100%;
      border-left: 3px solid black;
      border-radius: 50%;
      animation: rolling 1s linear infinite;
    }

    .text {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      line-height: 100px;
    }
  }

}

.card_8 {
  @extend .center;
  background-color: $color-background-3;
  .card {
    width: 200px;
    height: 4px;
    background-color: $color-white;
    animation: line 2s infinite alternate;
  }
}

.card_9 {
  @extend .center;
  background-color: $color-background-3;

    .obj {
      width: 5px;
      height: 40px;
      background-color: $color-white;
      margin: 0 3px;
      border-radius: 10px;
      animation: music 0.8s linear infinite ;
      // transform-origin: bottom;

      &:nth-child(2) {
        animation-delay: 0.1s;
      }
      &:nth-child(3) {
        animation-delay: 0.2s;
      }
      &:nth-child(4) {
        animation-delay: 0.3s;
      }
      &:nth-child(5) {
        animation-delay: 0.4s;
      }
      &:nth-child(6) {
        animation-delay: 0.5s;
      }
      &:nth-child(7) {
        animation-delay: 0.6s;
      }
      &:nth-child(8) {
        animation-delay: 0.7s;
      }
      &:nth-child(9) {
        animation-delay: 0.8s;
      }
      &:nth-child(10) {
        animation-delay: 0.9s;
      }


  }
}

.card_10 {
  @extend .center;
  background-color: $color-background-3;
  .card {
    @extend .center;
    width: 150px;
    height: 150px;
    position: relative;

    .outer {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-top: 3px solid transparent;
      border-left: 3px solid  blue;
      border-right: 3px solid blue;
      border-bottom: 3px solid transparent;
      border-radius: 50%;
      animation: clock-wise 2s linear infinite;
    }

    .middle {
      position: absolute;
      top: 20px;
      left: 20px;
      bottom: 20px;
      right: 20px;
      border-top: 3px solid transparent;
      border-left: 3px solid #eb4d4b;
      border-right: 3px solid #eb4d4b;
      border-bottom: 3px solid transparent;
      border-radius: 50%;
      animation: clock-reverse 2s linear infinite;
    }

    .inner {
      position: absolute;
      top: 40px;
      left: 40px;
      bottom: 40px;
      right: 40px;
      border-top: 3px solid transparent;
      border-left: 3px solid #ccae62;
      border-right: 3px solid #ccae62;
      border-bottom: 3px solid transparent;
      border-radius: 50%;
      animation: clock-wise 2s linear infinite;
    }
    .dot {
      position: absolute;
      top: 60px;
      left: 60px;
      bottom: 60px;
      right: 60px;
      // width: 20px;
      // height: 20px;
      background-color: $color-white;
      border-radius: 50%;

    }
  }

}

.card_11 {
  @extend .center;
  background-color: $color-background-3;
  .card {
    @extend .center;
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    span {
      width: 30px;
      height: 30px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        animation: loading 1s linear infinite;
      }
    }

    .s4::before,
    .s5::before,
    .s6::before {
      animation-delay: 0.1s;
    }

    .s7:before,
    .s8:before,
    .s9:before {
      animation-delay: 0.2s;
    }
  }

}
.card_12 {
  @extend .center;
  background-color: $color-background-3;
  .card {
    @extend .center;
    width: 70px;
    span {
      background-color: white;
      width: 10px;
      height: 50px;
      margin: 0 2px;
      animation: bar 0.8s ease-in-out infinite;
      &:nth-child(1) {
        background-color: #ccae62;
        animation-delay: 0.2s;
      }
      &:nth-child(2) {
        background-color: blue;
        animation-delay: 0.3s;
      }
      &:nth-child(3) {
        background-color: red;
        animation-delay: 0.4s;
      }
      &:nth-child(4) {
        background-color: green;
        animation-delay: 0.5s;
      }
      &:nth-child(5) {
        background-color: yellow;
        animation-delay: 0.6s;
      }
      &:nth-child(6) {
        background-color: orange;
        animation-delay: 0.7s;
      }
    }
  }
}
.card_13 {
  @extend .center;
  background-color: $color-background-3;

  .card {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    .text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 0.8rem;
      letter-spacing: 3px;
      border-top: 3px solid white;
      border-bottom: 3px solid white;
      h1 {
        margin: 0;
      }
    }

    .square {
      position: absolute;
      background-color: #f2f2f2;
      bottom: -100px;
      animation: square-box 10s ease-in-out infinite;
      &:nth-child(1) {
        width: 10px;
        height: 10px;
        left: 7%;
      }
      &:nth-child(2) {
        width: 20px;
        height: 20px;
        left: 15%;
        animation-delay: 3s;
      }
      &:nth-child(3) {
        width: 20px;
        height: 20px;
        left: 21%;
        animation-delay: 5s;
      }
      &:nth-child(4) {
        width: 15px;
        height: 15px;
        left: 28%;
        animation-delay: 2s;
      }
      &:nth-child(5) {
        width: 35px;
        height: 35px;
        left: 36%;
        animation-delay: 6s;
      }

      &:nth-child(6) {
        width: 30px;
        height: 30px;
        left: 42%;
        animation-delay: 6s;
      }
      &:nth-child(7) {
        width: 10px;
        height: 10px;
        left: 49%;
        animation-delay: 4s;
      }
      &:nth-child(8) {
        width: 40px;
        height: 40px;
        left: 56%;
        animation-delay: 5s;
      }
      &:nth-child(9) {
        width: 10px;
        height: 10px;
        left: 70%;
        animation-delay: 7s;
      }
      &:nth-child(10) {
        width: 10px;
        height: 10px;
        left: 80%;
        animation-delay: 4s;
      }
    }
  }

}


.card_14 {
  @extend .center;
  background-color: $color-background-3;
  .card {
    @extend .center;
    width: 300px;
    border: 3px solid white;
    position: relative;
    animation: animationline 2s linear infinite;
    .hexagon {
      position: absolute;
      bottom: 15px;
      left: 0;
      width: 50px;
      height: 30px;
      background-color: white;
      animation: animationhexa 2s linear infinite;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        transform: rotate(60deg);
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        transform: rotate(-60deg);
      }


    }
  }
}

.card_15 {
  @extend .center;

  ul {
    @extend .center;
    li {
      list-style: none;
      a {
        position: relative;
        text-decoration: none;
        font-size: 2rem;
        margin: 0 10px;
        display: block;
        padding: 5px 10px;
        color: #333;
        transition: all 0.5s;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: -100%;
          width: 100%;
          height: 4px;
          background-color: #eb4d4b;
          transform: translateY(-50%);
          transition: 0.5s;
        }

        &:hover::before {
          animation: lineheight 2s linear forward;
        }


      }
    }

  }
}
.card_16 {
  @extend .center;
  background-color: $color-background-3;
  .card {
    @extend .center;
    color: white;
  }
}



