@import './base';
@import './animation';

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_1 {

}



.card_2 {

}

/* https://www.freepik.com/free-vector/city-at-night-and-day-illustration_829621.htm */
.card_3 {

}


.card_4 {

}

.card_5 {

}


.card_6 {
  @extend .center;


}


.card_7 {
  @extend .center;

}

.card_8 {
  @extend .center;


}

.card_9 {

}

.card_10 {
  @extend .center;

}

.card_11 {



}
.card_12 {

}
.card_13 {

}
.card_14 {

}



