.main-card {
  height: 100%;
  padding: 10px 2rem;

  display: grid;

  grid-template-columns: repeat(4, minmax(20rem, 1fr));
  grid-template-rows: repeat(4, 200px);
  grid-row-gap: 10px;
  grid-column-gap: 10px;


  .card_one {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .card_two {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .card_three {
    grid-column: 3/5;
    grid-row: 1/2;
  }
  .card_four {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .card_five {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .card_seven {
    grid-column: 3/5;
    grid-row: 2/3;
  }

  .card_six {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .card_8 {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .card_9 {
    grid-column: 3/4;
    grid-row: 3/4;
  }

  .card_10 {
    grid-column: 4/5;
    grid-row: 3/4;
  }

  .card_11 {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .card_12 {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .card_13 {
    grid-column: 3/4;
    grid-row: 4/5;
  }

  .card_14 {
    grid-column: 4/5;
    grid-row: 4/5;
  }

  // .card_five {
  //   grid-column: 2/3;
  //   grid-row: 4/5;
  // }

  // .card_six {
  //   grid-column: 1/2;
  //   grid-row: 5/6;
  // }

  // .card_seven {
  //   grid-column: 2/3;
  //   grid-row: 5/6;
  // }

  // .card_8 {
  //   grid-column: 1/2;
  // }

  // .card_9 {

  // }

  // .card_10 {
  //   grid-column: 1/2;
  // }

}
