
<div class="container-box">
  <div class="main-card">

    <div class="card_1">
      <div class="card">

      </div>
    </div>
    <div class="card_2">
       <h1>배경색 변경</h1>
    </div>
    <div class="card_3">
      <div class="card">
         <span></span>
         <span></span>
         <span></span>
         <span></span>
         <span></span>
        </div>
    </div>
    <div class="card_4">
      <div class="card">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="card_5">
      <div class="card">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="card_6">
      <div class="card">
        <h1>LOADING..</h1>
      </div>
    </div>
    <div class="card_7">
      <div class="card">
         <div class="text">Loading</div>
         <div class="ring"></div>
      </div>
    </div>

    <div class="card_8">
      <div class="card">

      </div>
    </div>
    <div class="card_9">

         <div class="obj"></div>
         <div class="obj"></div>
         <div class="obj"></div>
         <div class="obj"></div>
         <div class="obj"></div>
         <div class="obj"></div>
         <div class="obj"></div>
         <div class="obj"></div>

    </div>
    <div class="card_10">
      <div class="card">
        <div class="outer"></div>
        <div class="middle"></div>
        <div class="inner"></div>
        <div class="dot"></div>
      </div>
    </div>

    <div class="card_11">
      <div class="card">
        <span class="s1"></span>
        <span class="s2"></span>
        <span class="s3"></span>
        <span class="s4"></span>
        <span class="s5"></span>
        <span class="s6"></span>
        <span class="s7"></span>
        <span class="s8"></span>
        <span class="s9"></span>
      </div>
    </div>

    <div class="card_12">
      <div class="card">
         <span></span>
         <span></span>
         <span></span>
         <span></span>
         <span></span>
         <span></span>
      </div>
    </div>

    <div class="card_13">
      <div class="card">
         <div class="square" style="--i:1;"></div>
         <div class="square" style="--i:2;"></div>
         <div class="square" style="--i:3;"></div>
         <div class="square" style="--i:4;"></div>
         <div class="square" style="--i:5;"></div>
         <div class="square" style="--i:6;"></div>
         <div class="square" style="--i:7;"></div>
         <div class="square" style="--i:8;"></div>
         <div class="square" style="--i:9;"></div>
         <div class="square" style="--i:10;"></div>
         <div class="text">
           <h1>앵귤러를 배우자</h1>
         </div>
        </div>
    </div>

    <div class="card_14">
      <div class="card">
        <div class="hexagon"></div>
      </div>
    </div>

    <div class="card_15">

         <ul>
           <li>
             <a href="#">앵귤러</a>
           </li>
           <li>
            <a href="#">뷰</a>
           </li>
           <li>
            <a href="#">리액트</a>
           </li>
         </ul>

    </div>

    <div class="card_16">
      <div class="card">

      </div>
    </div>

  </div>
</div>

