
<div class="container-box">
  <div class="main-card">

    <div class="card_1">
      <div class="card">

      </div>
    </div>
    <div class="card_2">
       <h1>배경색 변경</h1>
    </div>
    <div class="card_3">
      <div class="card">
         <span></span>
         <span></span>
         <span></span>
         <span></span>
         <span></span>
        </div>
    </div>
    <div class="card_4">
      <div class="card">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="card_5">
      <div class="card">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="card_6">
      <div class="card">
        <i class="pi pi-phone"></i>
      </div>
    </div>
    <div class="card_7">
      <div class="card">
        <i class="pi pi-phone"></i>
      </div>
    </div>

    <div class="card_8">
      <div class="card">
        <i class="pi pi-phone"></i>
      </div>
    </div>
    <div class="card_9">
      <div class="card">
        <i class="pi pi-phone"></i>
      </div>
    </div>
    <div class="card_10">
      <div class="card">
        <i class="pi pi-phone"></i>
      </div>
    </div>

    <div class="card_11">
      <div class="card">
        <i class="pi pi-phone"></i>
      </div>
    </div>

    <div class="card_12">
      <div class="card">
        <i class="pi pi-phone"></i>
      </div>
    </div>

  </div>
</div>

