<!-- Login Form -->
<form class="text-gray-300" [formGroup]="formGroup">
  <!-- Email -->
  <div class="mb-3">
    <label class="inline-block mb-2">이메일</label>
    <input
      type="email"
      formControlName="email"
      class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
      placeholder="이메일"
    />
  </div>
  <!-- Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">비밀번호</label>
    <input
      type="password"
      formControlName="password"
      autocomplete="current-password"
      class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
      placeholder="비밀번호"
    />
  </div>
  <button
    type="submit"
    (click)="submit()"
    [disabled]="formGroup.invalid"
    class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition hover:bg-indigo-500 disabled:bg-indigo-500"
  >
    로그인
  </button>
</form>
