@import './card';

.textscaling {
  @include card (#252626,  "크기변경", "",  100%);

  & {
     transition: all 0.5s;
  }

  &::before {
    background-color: #262626;
    color: white;
    transform: scale(5);
    opacity: 0;
    transition: all 0.5s;

  }

  &:hover::before {
     transform: scale(1);
     opacity: 1;
  }

}

.circleSwapping {
  @include card (tomato,   "", "", $width: 100%);

  & {
     cursor: pointer;
     transition: all 0.5s;
  }
  &:hover {
    color: #fff;
  }

  &::before {
    background-color: tomato;
    z-index: -1;
    border-radius:0 0 50% 50%;
    height: 0%;
    transition: all 0.8s;
  }

  &:hover::before {
     height: 100%;

  }
}

.rotating3layer {
  @include card (#262626,  "삥삥돌려라", "돌려라",   100%);

  & {
    background-color: yellow;
     transition: all 0.5s;
     overflow: visible;
  }
  &:hover {

  }

  &::before {
    background-color: #2ce771;
    transition: all 0.8s;
    transform: rotateX(270deg);
    transform-origin: top;
  }

  &:hover::before, &:hover::after {
    transform: rotateX(0deg)
  }

  &::after {
    background-color: red;
    transition: all 0.8s;
    transform: rotateX(270deg);
    transform-origin: bottom;
    transition-delay: 0.4s;
  }


}

.swapping-button {
      @include card (#262626,  "애니메이션", "애니메이션",   100%);

      & {

        &:hover {
          background-color: #fff;
        }
      }

    &::before {
       color: #fff;
       background-color: #363636;
       transition: all 0.5s;
    }

    &:hover::before {
      left: 100%;
      transform: scale(0) rotateY(360deg);
      opacity: 0;
    }

    &::after {
      color: #fff;
      background-color: #363636;
      transition: all 0.5s;
    }

    &:hover::after {
      left: -100%;
      transform: scale(0) rotateY(360deg);
      opacity: 0;
    }

}

.two-circle-move {
 // @include card (#262626,  "", "",   20px);

 & {
  color: #ff0;
  font-size: 20px;
  background-color: #272727;
  padding: 10px 20px;
  position: relative;
 // overflow: hidden;
  margin-left: 10px;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  transition: all 0.5s;

 }
// 45864295118060
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    background-color: #ff0;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all 0.5s;
  }

  &::before {
    left: 0;

    box-shadow: -50px 0 0 #ff0;

  }

  &::after {
    right: 0;
    box-shadow: 100px 0 0 #ff0;
  }
}

.split_button {
  & {
    color: #f6b93b;
    font-size: 20px;
    padding: 10px 20px;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #f6b93b;
    background-color: #272726;
    overflow: hidden;
    &:hover {
      color: #fff;

    }
  }

  &::before,
  &::after,
  span::before,
  span::after {
    content: "";
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: #f6b93b;
    z-index: 1;
    transition: all 0.5s;
  }
  &:before {
    top: 0;
    left: -25%;
  }
  &:hover:before {
    top: 0;
    left: 0;
  }

  &:after {
    top:-100%;
    left: 25%;
  }

  &:hover:after {
    top: 0;
    left: 25%;
  }

  span::before {
    top:100%;
    right: 25%;
  }
  span::after {
    top: -100%;
    left: 75%;
  }

  &:hover span::before {
    top: 0;
    left: 50%;
  }

  &:hover span::after {
    top: 0;
    left: 75%;
  }

}

.move_line {
  @include mainBox(#FDC518, #272726);
  & {
    border: none;
  }

  &::before {
    top: -12px;
    border-left: 2px solid blue;
    border-right: 2px solid blue;
    height: 150%;
    transition: all 0.5s;
    transition-delay: 0.2s;
  }

  &::after {
    left: -10px;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    width: 110%;
    transition: all 0.5s;
  }

  &:hover::before {
    transform: rotateY(180deg);
  }

  &:hover::after {
    transform: rotateX(180deg);
  }
}

.move-border {
  @include box(#c47135, #c47135);
  @include boxbefore;
  @include boxafter;

  &::before {
    top: -5px;
    left: -5px;
    height: 30%;
    width: 20%;
    border-left: 2px solid #c47135;
    border-top: 2px solid #c47135;
    transition: all 0.5s;
  }

  &::after {
    bottom: -5px;
    right: -5px;
    height: 30%;
    width: 20%;
    border-bottom: 2px solid #c47135;
    border-right: 2px solid #c47135;
    transition: all 0.5s;

  }

  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
  }
}

.square-rotate {
  @include mainBox(#FDC518, #272726);

  span {
    color: transparent;
    position: relative;
  }
  span::before {
    content:"글";
    position: absolute;
    top: -2px;
    left: 0;
    color: #FDC518;
    transition: all 0.5s;
  }
  &:hover span:before {
    font-size: 40px;
    transform: translate(-15px, -20px) rotate(360deg);
  }

  &::before {
    background-color: #272726;
    z-index: -1;
    transition: all 0.5s;
    opacity: 0;
  }
  &:hover::before {
   opacity: 1;
   transform: rotate(20deg);
  }
}

.border-move {
  @include box(#c47135, #c47135);
  @include boxbefore;
  @include boxafter;

  & {
    border-color: transparent;
    letter-spacing: 10px;
    overflow: hidden;
  }

  &::before {
    height: 4px;
    left: -100%;
    border-top: 3px solid #c47135;
    border-left: 3px solid #c47135;
    opacity: 0;
    transition: all 0.5s;
  }

  &::after {
    height: 4px;
    bottom: 0;
    right: -100%;
    border-bottom: 3px solid #c47135;
    border-right: 3px solid #c47135;
    opacity: 0;
    transition: all 0.5s;
  }


  span::before {
    content: "";
    position: absolute;
    top: -100%;
    right: 0;
    height: 100%;
    width: 4px;
    background-color: #c47135;
    transition: all 0.5s;
  }

  span::after {
    content: "";
    position: absolute;
    bottom: -100%;
    left: 0;
    height: 100%;
    width: 4px;
    background-color: #c47135;
    transition: all 0.5s;
  }

  &:hover::before {
    left: 0;
    width: 98%;
    opacity: 1;
  }

  &:hover::after {
    right: 0;
    width: 98%;
    opacity: 1;
  }

  &:hover span:before {
    top: 0;
  }

  &:hover span::after {
    bottom: 0;
  }
}

.letter-wave {
  @include box(#c47135, #c47135);


}









