@import './card';

.textscaling {
  @include card (#252626,  "크기변경", "",  100%);

  & {
     transition: all 0.5s;
  }

  &::before {
    background-color: #262626;
    color: white;
    transform: scale(5);
    opacity: 0;
    transition: all 0.5s;

  }

  &:hover::before {
     transform: scale(1);
     opacity: 1;
  }

}

.circleSwapping {
  @include card (tomato,   "", "", $width: 100%);

  & {
     cursor: pointer;
     transition: all 0.5s;
  }
  &:hover {
    color: #fff;
  }

  &::before {
    background-color: tomato;
    z-index: -1;
    border-radius:0 0 50% 50%;
    height: 0%;
    transition: all 0.8s;
  }

  &:hover::before {
     height: 100%;

  }
}

.rotating3layer {
  @include card (#262626,  "삥삥돌려라", "돌려라",   100%);

  & {
    background-color: yellow;
     transition: all 0.5s;
     overflow: visible;
  }
  &:hover {

  }

  &::before {
    background-color: #2ce771;
    transition: all 0.8s;
    transform: rotateX(270deg);
    transform-origin: top;
  }

  &:hover::before, &:hover::after {
    transform: rotateX(0deg)
  }

  &::after {
    background-color: red;
    transition: all 0.8s;
    transform: rotateX(270deg);
    transform-origin: bottom;
    transition-delay: 0.4s;
  }


}

.swapping-button {
      @include card (#262626,  "애니메이션", "애니메이션",   100%);

      & {

        &:hover {
          background-color: #fff;
        }
      }

    &::before {
       color: #fff;
       background-color: #363636;
       transition: all 0.5s;
    }

    &:hover::before {
      left: 100%;
      transform: scale(0) rotateY(360deg);
      opacity: 0;
    }

    &::after {
      color: #fff;
      background-color: #363636;
      transition: all 0.5s;
    }

    &:hover::after {
      left: -100%;
      transform: scale(0) rotateY(360deg);
      opacity: 0;
    }

}

.two-circle-move {
 // @include card (#262626,  "", "",   20px);

 & {
  color: #ff0;
  font-size: 20px;
  background-color: #272727;
  padding: 10px 20px;
  position: relative;
 // overflow: hidden;
  margin-left: 10px;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  transition: all 0.5s;

 }
// 45864295118060
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    background-color: #ff0;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all 0.5s;
  }

  &::before {
    left: 0;

    box-shadow: -50px 0 0 #ff0;

  }

  &::after {
    right: 0;
    box-shadow: 100px 0 0 #ff0;
  }


}
