@mixin card($color, $beforecontent, $aftercontent, $width) {

  & {
    color: $color;
    font-size: 20px;
    border: 1px solid #272726;
    padding: 10px 20px;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: bold;
    text-align: center

  }

  &:hover {
    background-color: #F44336;
  }


&::before {
  content: $beforecontent;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: $width;

}

&::after {
  content: $aftercontent;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: $width;

}


}

@mixin mainBox($color, $borderColor) {
  & {
    color: $color;
    font-size: 20px;
    border: 1px solid $borderColor;
    padding: 10px 20px;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: bold;
    text-align: center
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

  }
}

@mixin box($color, $borderColor) {
  & {
    color: $color;
    font-size: 20px;
    border: 1px solid $borderColor;
    padding: 10px 20px;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: bold;
    text-align: center
  }
}

@mixin boxbefore {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

@mixin boxafter {
  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;

  }
}
