@mixin card($color, $content, $width) {

  & {
    color: $color;
    font-size: 20px;
    border: 1px solid #272726;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  &:hover {
    background-color: #F44336;
  }


&::before {
  content: $content;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: $width;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
}


}
