
<div class="container-box">
  <div class="main-box">
    <div class="grid">
      <div class="col">
        <p class="menu-1__rotate">회전하여 채우기</p>
      </div>
      <div class="col">
          <p class="swipe">밀어 채우기</p>
      </div>
      <div class="col">
        <p class="rotate-xy">X,Y 90도 회전</p>
      </div>
      <div class="col">
        <p class="curtain">커튼</p>
      </div>
      <div class="col">
        <p class="wiper">사선물결</p>
      </div>
      <div class="col">
        <p class="wiper-twoway">X,Y 90도 회전</p>
      </div>
    </div>

    <div class="grid">
      <div class="col">

        <p class="textscaling">글자크기</p>
      </div>
      <div class="col">
        <p class="circleSwapping">Circle Swapping</p>
      </div>
      <div class="col">
        <p class="rotating3layer">돌아돌아</p>
      </div>
      <div class="col">
        <p class="swapping-button">애니메이션</p>
      </div>
      <div class="col">
        <p class="two-circle-move">2개 원</p>
      </div>
      <div class="col">
        <p class="opendoor">열려라 참께</p>
      </div>

    </div>

    <div class="grid">
      <div class="col">
          <p class="split_button"><span></span>나누기</p>
      </div>
      <div class="col">
          <p class="move_line">경계선이동</p>
      </div>
      <div class="col">
        <p class="move-border">경계선</p>
      </div>
      <div class="col">
        <p class="square-rotate"><span>글</span>자확대</p>
      </div>
      <div class="col">
        <p class="border-move">경계선 2<span></span></p>
      </div>
      <div class="col">
        <div class="letter-wave">
          파도타기<div class="wave"></div>
        </div>


      </div>
    </div>


  </div>





</div>
