
<div class="container-box">
  <div class="main-box">
    <div class="grid">
      <div class="col">
        <p class="menu-1__rotate">회전하여 채우기</p>
      </div>
      <div class="col">
          <p class="swipe">밀어 채우기</p>
      </div>
      <div class="col">
        <p class="rotate-xy">X,Y 90도 회전</p>
      </div>
      <div class="col">
        <p class="curtain">커튼</p>
      </div>
      <div class="col">
        <p class="wiper">사선물결</p>
      </div>
      <div class="col">
        <p class="wiper-twoway">X,Y 90도 회전</p>
      </div>
    </div>

    <div class="grid">
      <div class="col">
        <p class="textscaling">글자크기</p>
      </div>
      <div class="col">
        <p class="circleSwapping">Circle Swapping</p>
      </div>
      <div class="col">
        <p class="rotating3layer">돌아돌아</p>
      </div>
      <div class="col">
        <p class="swapping-button">애니메이션</p>
      </div>
      <div class="col">
        <p class="rotate-xy">애니메이션</p>
      </div>
      <div class="col">
        <p class="curtain">애니메이션</p>
      </div>

    </div>

    <div class="grid">
      <div class="col">
        <p class="menu-1__rotate">회전하여 채우기</p>
      </div>
      <div class="col">
          <p class="swipe">밀어 채우기</p>
      </div>
      <div class="col">
        <p class="rotate-xy">X,Y 90도 회전</p>
      </div>
      <div class="col">
        <p class="curtain">커튼</p>
      </div>
      <div class="col">
        <p class="textscaling">글자크기</p>
      </div>
      <div class="col">
        <p class="circleSwapping">Circle Swapping</p>
      </div>
    </div>


  </div>





</div>
