$green-color: #6cff8d;
$dark-green-color: #6cff8c7a;
$red-color: #f44336;
$blue-color: #2196f3;
$yellow-color: #ffea5c;
$darkish-blue: #060b11;
$box-shadow-blue1:  rgba(31,38,135,0.27);
$box-shadow-blue2:  rgba(31,38,135,0.67);
