.faq {
  position: relative;
  background: linear-gradient(to right, #f3e5ce, #f4deb7, #f3e4ce);
  &__wrap {
    padding: 1rem 4.5%;
  }

  .question {
    position: relative;
    border-bottom: 1px solid #0f0f0f;
    padding: 24px 0 24px 0;
    h3 {
      cursor: pointer;
      font-size: 20px;
      color: #0f0f0f;
      font-weight: 600;
    }
    &__wrap {
      display: grid;
      grid-template-columns: 26px auto;
      align-items: center;
      gap: 1rem;
    }
    &__answer {
      font-size: 20px;
      margin: 20px 0;
      max-width: 60rem;
      color: #0f0f0f;
      padding-left: 40px;
      transition: all 0.2s ease-in-out;
      display: none;
    }

    &__status {
      width: 20px;
      height: 20px;
      background: transparent;
      border: 3px solid #0f0f0f;
      border-radius: 50%;
      margin-top: 2px;
      transition: all 0.2s ease-in-out;
      &:hover {
        cursor: pointer;
      }
    }



    &.open .question__answer {
      display: block;
    }

    &.open .question__status {
      background: #0f0f0f;
      outline: 1px solid #0f0f0f;
      outline-offset: 2px;
    }
  }

}
