:root{
  --brightYellow:#E3B505;
  --darkBrown:#BB9457;
  --yellow:rgb(242, 180, 80);
  --brown:#382923;
  --black:#191919;
  --grey:#A9B2AC;
 }



 @import './styles/colors';
 @import './styles/mixin';
 @import './styles/variables';
