.checkout-page {

  .checkout-form {
    margin-top: 10px;
  }

  .checkout-button {
    margin-top: 10px;
    margin-left: 33px;

    button:hover {
      background-color: yellowgreen;
    }
  }


}
