header {
  .logo {
    img {
      width: 160px;
    }
  }

  .tools {
    padding-top: 42px;

    .pi {
      margin-right: 15px;
    }
  }

  .search {
    padding-top: 28px;
  }

  .navigation {
    padding-top: 23px;
  }
}

.bk {
  background-color: yellow;
}
