:host {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #6990F2;
}

::selection {
  color: #fff;
  background: #6990F2;
}

.wrapper {
  width: 430px;
  background: #fff;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.05);

  header {
    color: #6990F2;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
  }

  form {
    height: 167px;
    display: flex;
    cursor: pointer;
    margin: 30px 0;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed #6990F2;

    :where(i, p) {
      color: #6990F2;
    }

    mat-icon {
      font-size: 50px;
      margin-top: 20px;
    }

    p {
      margin-top: 50px;
      font-size: 16px;
    }

    p:hover {
      font-weight: 600;
      color: lightgreen;
    }
  }

  .uploaded-area {
    max-height: 232px;
    overflow-y: scroll;
  }







}
