@import './base';
.common {
  position: relative;
  width: 320px;
  padding: 2px  1rem  15px 1rem;
  background-color: white;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  a {
    text-decoration: none;
    padding: 5px 10px;
    font-weight: bold;
  }
}
.card_one {
  @extend .common;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: calc(-100% + 5px);
    width: 100%;
    height: 100%;
    background-color: #ff56ac;
    z-index: -1;
    transition: all 0.5s;
  }

  &:hover .contents {
    color: $color-white;
  }


  &:hover a {
    background-color: $color-white;
  }

  &:hover::before {
    bottom: 0;
  }
}

.card_two {
  @extend .common;
  height: 260px;
  overflow:visible;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.3);
  transition: 0.3s;

  &:hover {
    height: 300px;
  //  transform: translateY(10px);
  }

  .imgbox {
    position: relative;
      width: 300px;
      height: 260px;
      transform: translateY(-30px);
      z-index: 1;
    img {
      width: 100%;
      height: 100%;
      border-radius: 15px;
    }
  }

  .content {
     opacity: 0;
     h2 {
       margin: 0;
     }
  }

  &:hover .content {
    opacity: 1;
    transform: translateY(-30px);
  }
}

.card_three {
  @extend .common;
  height: 260px;
  overflow:visible;
  transition: 0.3s;
  .imgbox {
    position: relative;
      width: 300px;
      height: 260px;
      transform: translateY(-40px);
      z-index: 1;
      transition: 0.5s;
    img {
      width: 100%;
      height: 100%;
      border-radius: 15px;
    }
  }

  .content {
    opacity: 0;

  }

  &:hover .imgbox {
    transform: translate(100px, 5px);
  }

  &:hover .content {
    opacity: 1;
    position: absolute;
    top: 30%;
    left: 20px;
  }
}


.card_four {
  .card {
    position: relative;
    display: flex;
    align-items: center;
    width: 500px;
    height: 300px;
    background-color: #ff56ac;
    border-radius: 15px;

    .content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      p, h2 {
        width: 400px;
        padding: 0 0 0 1rem ;
      }
    }

    img {
      position: absolute;
      bottom: 0;
      left: 10%;
      height: 90%;
      transition: 0.6s;
    }

    .content {
      transition: 0.5s;
       opacity: 0;

    }

    &:hover img {
      left: 80%;
      height: 110%;
    }

    &:hover .content {
      opacity: 1;
      color: $color-white;
    }
  }


}

.card_five {
  .card {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    width: 300px;
    height: 400px;
    background: white;
    transition: 0.5s;
    border: 1px solid #281414;

    &:hover {
      box-shadow: 0 1rem 3rem rgba(0,0,0,0.4);
    }

    .face {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .face1 {
      padding: 30px;
      text-align: center;
      background-color: white;
      color: #013d4a;

      a {
        display: inline-block;
        margin-top: 20px;
        text-decoration: none;
        border: 2px solid #031d4a;
        font-weight: bold;
        padding: 5px 7px;
        border-radius: 4px;
      }
    }

    .face2 {
      background-color: #031d4a;
      transition: 0.5s;
      h2 {
        font-size: 120px;
        color: white;

      }
    }

      &:hover .face2 {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      top: 3px;
      left: 50%;
      transform: translateX(-50%);
      background-color: transparent;
      border: 2px solid #031d4a;
    }

    &:hover .face2 h2 {
      color: #031d4a;
      font-size: 20px;
    }

    a:hover {
      background-color: #013d4a;
      color: $color-white;
    }
  }



}

.card_six {
  background-color: #333;
  .card {

  }
}

.card_seven {
  @extend .common;
}
