<div class="container-box">
  <div class="main-card">


    <div class="card_one">
      <div class="content">
        <h2>design</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua, incididunt ut labore et, incididunt ut labore et.</p>
        <a href="#">read more</a>
      </div>
    </div>


    <div class="card_two">
      <div class="content">
        <h2>design</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua, incididunt ut labore et, incididunt ut labore et.</p>
        <a href="#">read more</a>
      </div>
    </div>


    <div class="card_three">
      <div class="content">
        <h2>design</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua, incididunt ut labore et, incididunt ut labore et.</p>
        <a href="#">read more</a>
      </div>
    </div>

    <div class="card_four">
      <div class="content">
        <h2>design</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua, incididunt ut labore et, incididunt ut labore et.</p>
        <a href="#">read more</a>
      </div>
    </div>

    <div class="card_five">
      <div class="content">
        <h2>design</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua, incididunt ut labore et, incididunt ut labore et.</p>
        <a href="#">read more</a>
      </div>
    </div>


    <div class="card_six">
      <div class="content">
        <h2>design</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua, incididunt ut labore et, incididunt ut labore et.</p>
        <a href="#">read more</a>
      </div>
    </div>

    <div class="card_seven">
      <div class="content">
        <h2>design</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua, incididunt ut labore et, incididunt ut labore et.</p>
        <a href="#">read more</a>
      </div>
    </div>

    </div>
</div>


