.section-about {
  background-color: $color-gray-light-1;
  padding: 35rem 0 6rem 0;
  margin-top: -25vh;
}

.section-features {
  padding: 35rem 0 25rem 0;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.3)),
    url('/assets/img/nat-4.jpg');
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -7rem;
  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $color-gray-light-1;
  padding: 17rem 0 25rem 0;
  margin-top: -6rem;
}

.section-stories {
  padding: 15rem 0;
  position: relative;
}

.section-book {
  padding: 3rem;
  background-color: $color-primary;
  .row {
    background: $color-white;
    border: 1px solid black;
    background-image: url('/assets/img/nat-10.jpg');
    background-size: cover;
  }
}
