<!-- Registration Form -->
<form class="text-gray-300" [formGroup]="formGroup">
  <!-- Name -->
  <div class="mb-3">
    <label class="inline-block mb-2">이름</label>
    <input
      type="text"
      formControlName="name"
      class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
      placeholder="이름"
    />
    <ng-container *ngIf="formGroup.controls['name'].touched">
      <p *ngIf="formGroup.controls['name'].errors?.['required']" class="text-red-400">필수항목입니다.</p>
    </ng-container>
  </div>
  <!-- Email -->
  <div class="mb-3">
    <label class="inline-block mb-2">이메일</label>
    <input
      type="email"
      formControlName="email"
      class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
      placeholder="이메일"
    />
  </div>
  <!-- Age -->
  <div class="mb-3">
    <label class="inline-block mb-2">나이</label>
    <input
      type="number"
      formControlName="age"
      class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
    />
  </div>
  <!-- Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">비밀번호</label>
    <input
      type="password"
      autocomplete="current-password"
      formControlName="password"
      class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
      placeholder="비밀번호"
    />
  </div>
  <!-- Confirm Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">암호확인</label>
    <input
      type="password"
      formControlName="confirmPassword"
      class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
      placeholder="암호확인"
    />
  </div>
  <!-- Phone Number -->
  <div class="mb-3">
    <label class="inline-block mb-2">전화번호</label>
    <input
      type="text"
      formControlName="phoneNumber"
      class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
      placeholder="전화번호"
    />
  </div>
  <button
    type="submit"
    (click)="submit()"
    [disabled]="formGroup.invalid"
    class="block w-full bg-indigo-400 text-white font-bold py-1.5 px-3 rounded transition hover:bg-indigo-500 disabled:opacity-50 disabled:bg-indigo-500"
  >
    확인
  </button>
</form>
<p-toast life="5000"></p-toast>
