.container {
  width: 100%;
  background: lightcyan;
}

.engine-wrapper {
  border: 1px solid black;

  // width: 100%;
  height: 90vh;
  position: relative;
  .canvas {
    left: 50%;
    top: 50%;
    transform: translate(50%);
  }
}
