<div class="admin-sidebar">
  <div class="logo">
    <img src="/assets/images/logo.png"/>
  </div>

  <div class="links">
    <ul>
      <li>
         <a routerLink="/">
          <mat-icon>library_books</mat-icon>
          <span>대쉬보드</span>
         </a>
      </li>
      <li>
        <a routerLink="products">
          <mat-icon>card_giftcard</mat-icon>
          <span>판매상품</span>
        </a>
      </li>

      <li>
        <a routerLink="categories">
          <mat-icon>list_alt</mat-icon>
          <span>카테고리</span>
        </a>
      </li>

      <li>
        <a routerLink="orders">
          <mat-icon>add_shopping_cart</mat-icon>
          <span>주문</span>
        </a>
      </li>

      <li>
        <a routerLink="users">
          <mat-icon>person_add</mat-icon>
          <span>사용자</span>
        </a>
      </li>
      <li>
        <a routerLink="fileupload">
          <mat-icon>
            file_upload
            </mat-icon>
          <span>파일올리기</span>
        </a>
      </li>


      <li>
        <a routerLink="login">
          <mat-icon>logout</mat-icon>
          <span>로그아웃</span>
        </a>
      </li>

    </ul>

  </div>

</div>
