.footer {
  background-color: var(--yellow-200);

  h5 {
    color: var(--yellow-400);
    margin-left: 20px;
  }

  .social-media {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
