<div class="container-box">
  <div class="main-card">

    <div class="card_one">
      <div class="card">
         <ul>
           <li>앵</li>
           <li>귤</li>
           <li>러</li>
           <li>굿</li>
           <li>굿</li>
         </ul>
      </div>
    </div>

    <div class="card_two">
      <div class="card">
          <h2>앵귤러TEXT</h2>
      </div>
    </div>

    <div class="card_three">
      <div class="card">
        <a href="#">
          <i class="pi pi-facebook"></i>
        </a>
        <a href="#">
          <i class="pi pi-google"></i>
        </a>
        <a href="#">
          <i class="pi pi-instagram"></i>
        </a>
        <a href="#">
          <i class="pi pi-twitter"></i>
        </a>
        <a href="#">
          <i class="pi pi-youtube"></i>
        </a>
      </div>
    </div>


    <div class="card_four">
      <div class="card">

      </div>
    </div>



    </div>
</div>
