<div class="container-box">
  <router-outlet></router-outlet>
</div>


<div class="container">
  <div class="loading">
    <div class="loading__box">
        <div class="loading__text">
          <div class="loading__text--border"></div>
          L <div class="loading__text--dot"></div>OADING 경험
        </div>
        <div class="loading__bar">
          <div class="loading__bar--inner"></div>
        </div>
        <div class="loading__counter">
          <span>0%</span>
          <div class="loading__counter--number">100%</div>
        </div>
    </div>
  </div>
</div>

